In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime as dt

In [2]:
tenants = "Tenant_History.csv"
tenants_df = pd.read_csv(tenants)
tenants_df.head()

,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
0,ce,NaN,4/17/2013,t0013819,NaN,Notice Given,4/17/2013,C5254F,NaN,6/1/2012,...,4/17/2013,0,0,4,650.0,170.0,0.0,Pre Acquisition Notice,NaN,0.0
1,ce,NaN,4/17/2013,t0013923,NaN,Notice Given,4/17/2013,C5326D,NaN,6/1/2012,...,4/17/2013,0,0,4,565.0,150.0,0.0,Pre Acquisition Notice,NaN,0.0
2,ce,NaN,4/17/2013,t0014214,NaN,Notice Given,4/17/2013,M0034E,NaN,5/20/2011,...,4/17/2013,0,0,4,655.0,150.0,0.0,Pre Acquisition Notice,NaN,0.0
3,ce,NaN,4/17/2013,t0013746,NaN,Notice Given,4/17/2013,C05268,NaN,11/1/2012,...,4/17/2013,0,0,4,860.0,850.0,0.0,Pre Acquisition Notice,NaN,0.0
4,ce,NaN,4/17/2013,t0013823,NaN,Notice Given,4/17/2013,C5254K,NaN,5/1/2012,...,4/17/2013,0,0,4,660.0,150.0,0.0,Pre Acquisition Notice,NaN,0.0

In [3]:
tenants_df = tenants_df.drop(columns = ["Ref_Property_ID", "Ext_Ref_Tenant_Id", "Ref_Unit_Id", "Date"])

In [4]:
tenants_df["DateOccurred"] = pd.to_datetime(tenants_df["DateOccurred"], format= '%m/%d/%Y')
tenants_df["DateApply"] = pd.to_datetime(tenants_df["DateApply"], format= '%m/%d/%Y')
tenants_df["DateApprove"] = pd.to_datetime(tenants_df["DateApprove"], format= '%m/%d/%Y')
tenants_df["DateSign"] = pd.to_datetime(tenants_df["DateSign"], format= '%m/%d/%Y')
tenants_df["DateMoveIn"] = pd.to_datetime(tenants_df["DateMoveIn"], format= '%m/%d/%Y')
tenants_df["DateMoveOut"] = pd.to_datetime(tenants_df["DateMoveOut"], format= '%m/%d/%Y')
tenants_df["DateLeaseFrom"] = pd.to_datetime(tenants_df["DateLeaseFrom"], format= '%m/%d/%Y')
tenants_df["DateLeaseTo"] = pd.to_datetime(tenants_df["DateLeaseTo"], format= '%m/%d/%Y')
tenants_df["DateNotice"] = pd.to_datetime(tenants_df["DateNotice"], format= '%m/%d/%Y')
tenants_df["Length of Stay"]= tenants_df["DateMoveOut"] - tenants_df["DateMoveIn"]
tenants_df.sort_values(by=["Unit_Code"])

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,DateMoveOut,...,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Length of Stay
41858,fh,t0033675,Deposit Change,2017-08-01,1014A,NaT,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,850.0,150.0,0.0,NaN,NaN,0.0,NaT
72974,fh,t0033675,Email,2018-10-08,1014A,NaT,NaT,NaT,2017-06-30,NaT,...,0,0,0,0.0,0.0,0.0,NaN,NaN,0.0,NaT
42173,fh,t0033675,Deposit Change,2017-08-01,1014A,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,850.0,300.0,0.0,NaN,NaN,0.0,NaT
42802,fh,t0033675,Deposit Change,2017-08-01,1014A,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,850.0,150.0,0.0,NaN,NaN,0.0,NaT
65826,fh,t0033675,Rent Change,2018-06-30,1014A,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,950.0,150.0,0.0,NaN,NaN,0.0,NaT
55549,fh,t0033675,Lease Renewal,2018-04-25,1014A,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,950.0,150.0,0.0,NaN,NaN,0.0,NaT
77349,fh,t0041459,Submit Application,2019-01-04,1014B,2019-01-04,NaT,NaT,2019-01-15,NaT,...,0,0,6,975.0,0.0,0.0,NaN,NaN,0.0,NaT
50206,fh,t0033676,Rent Change,2017-12-31,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,NaT,...,0,0,0,888.0,300.0,0.0,NaN,NaN,0.0,NaT
48328,fh,t0033676,Lease Renewal,2017-11-07,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,NaT,...,0,0,0,900.0,300.0,0.0,NaN,NaN,0.0,NaT
69678,fh,t0040600,Rent Change,2018-08-22,1014B,2018-08-22,NaT,NaT,2018-08-31,NaT,...,0,0,6,984.0,0.0,0.0,NaN,NaN,0.0,NaT
74072,fh,t0041103,Submit Application,2018-10-29,1014B,2018-10-29,NaT,NaT,2019-01-03,NaT,...,0,0,6,984.0,0.0,0.0,NaN,NaN,0.0,NaT
45646,fh,t0034067,Deposit Change,2017-09-14,1014B,2017-08-31,NaT,NaT,NaT,NaT,...,0,0,7,850.0,0.0,0.0,NaN,NaN,0.0,NaT
69679,fh,t0040600,Assign Unit (From 1030CB to 1014B),2018-08-22,1014B,2018-08-22,NaT,NaT,2018-08-31,NaT,...,0,0,6,984.0,0.0,0.0,NaN,NaN,0.0,NaT
51186,fh,t0033676,Rent Change,2018-01-31,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,NaT,...,0,0,0,900.0,300.0,0.0,NaN,NaN,0.0,NaT
42174,fh,t0033676,Deposit Change,2017-08-01,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,NaT,...,0,0,0,875.0,600.0,0.0,NaN,NaN,0.0,NaT
45256,fh,t0034067,Cancel Move In,2017-09-06,1014B,2017-08-31,NaT,NaT,NaT,NaT,...,0,-1,7,850.0,99.0,0.0,Moved in with Family,Moved in with Family,0.0,NaT
66062,fh,t0033676,Deposit Change,2018-07-03,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,2018-06-30,...,0,0,1,900.0,0.0,0.0,NaN,NaN,0.0,659 days
68282,fh,t0040392,Assign Unit (From 1120A to 1014B),2018-08-02,1014B,2018-07-26,2018-08-02,2018-08-02,2018-08-08,NaT,...,0,0,2,984.0,99.0,0.0,NaN,NaN,0.0,NaT
76795,fh,t0041425,Submit Application,2018-12-26,1014B,2018-12-26,NaT,NaT,2018-12-31,NaT,...,0,0,6,975.0,0.0,0.0,NaN,NaN,0.0,NaT
66063,fh,t0033676,Deposit Accounting,2018-07-03,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,2018-06-30,...,0,0,1,900.0,0.0,0.0,Deposit Accounting,NaN,0.0,659 days
45647,fh,t0034067,Deposit Accounting,2017-09-14,1014B,2017-08-31,NaT,NaT,NaT,NaT,...,0,0,7,850.0,0.0,0.0,Deposit Accounting,NaN,0.0,NaT
55495,fh,t0033676,Notice Given,2018-04-25,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,2018-06-30,...,0,0,4,900.0,300.0,0.0,Transfer within Community,Transfer within Community,0.0,659 days
45645,fh,t0034067,Deposit Change,2017-09-14,1014B,2017-08-31,NaT,NaT,NaT,NaT,...,0,0,7,850.0,150.0,0.0,NaN,NaN,0.0,NaT
43918,fh,t0034067,Assign Unit (From WAIT1BR1 to 1014B),2017-08-17,1014B,2017-08-31,NaT,NaT,2017-08-31,NaT,...,0,0,2,850.0,0.0,0.0,NaN,NaN,0.0,NaT
44698,fh,t0034067,Deposit Change,2017-08-29,1014B,2017-08-31,NaT,NaT,2018-01-01,NaT,...,0,0,2,850.0,99.0,0.0,NaN,NaN,0.0,NaT
77474,fh,t0041459,Application Approved,2019-01-07,1014B,2019-01-04,2019-01-07,NaT,2019-01-15,NaT,...,-1,0,6,975.0,0.0,0.0,NaN,Apartment List,0.0,NaT
69415,fh,t0040392,Deposit Accounting,2018-08-18,1014B,2018-07-26,2018-08-02,NaT,NaT,NaT,...,0,0,7,984.0,0.0,0.0,Deposit Accounting,NaN,0.0,NaT
77511,fh,t0041459,Lease Signed,2019-01-08,1014B,2019-01-04,2019-01-07,2019-01-08,2019-01-15,NaT,...,0,0,2,975.0,0.0,0.0,NaN,NaN,0.0,NaT
69144,fh,t0040392,Adjust Move In Dates,2018-08-14,1014B,2018-07-26,2018-08-02,2018-08-02,2018-08-20,NaT,...,0,0,2,984.0,99.0,0.0,NaN,NaN,0.0,NaT
69815,fh,t0040600,Application Canceled,2018-08-24,1014B,2018-08-22,NaT,NaT,NaT,NaT,...,0,0,7,984.0,0.0,0.0,NaN,Changed Mind,0.0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88312,mpg,t0052899,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88313,mpg,t0052899,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88314,mpg,t0052899,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88315,mpg,t0052899,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88316,mpg,t0052899,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88317,sh,t0019103,NaN,NaT,NaN,NaT,NaT,NaT,2014-02-14,NaT,...,0,0,0,0.0,0.0,0.0,Lease Expire Follow up,NaN,0.0,NaT
88318,sh,t0019103,NaN,NaT,NaN,NaT,NaT,NaT,2014-02-14,NaT,...,0,0,0,0.0,0.0,0.0,Lease Expire Follow up,NaN,0.0,NaT
88319,sh,t0019103,NaN,NaT,NaN,NaT,NaT,NaT,2014-02-14,NaT,...,0,0,0,0.0,0.0,0.0,Lease Expire Follow up,NaN,0.0,NaT
88320,ce,t0040164,NaN,NaT,NaN,NaT,NaT,NaT,2018-08-01,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 161992 has Closed.,NaN,0.0,NaT
88321,ce,t0040164,NaN,NaT,NaN,NaT,NaT,NaT,2018-08-01,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 161992 has Closed.,NaN,0.0,NaT
88322,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88323,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88324,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88325,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88326,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88327,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88328,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88329,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88330,sh,t0041441,NaN,NaT,NaN,NaT,NaT,NaT,2018-12-30,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 162257 has Closed.,NaN,0.0,NaT
88331,sh,t0041441,NaN,NaT,NaN,NaT,NaT,NaT,2018-12-30,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 162257 has Closed.,NaN,0.0,NaT
88332,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88333,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88334,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88335,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88336,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88337,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88338,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88339,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88340,ce,t0041258,NaN,NaT,NaN,NaT,NaT,NaT,2018-11-24,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 162278 has Closed.,NaN,0.0,NaT
88341,ce,t0041258,NaN,NaT,NaN,NaT,NaT,NaT,2018-11-24,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 162278 has Closed.,NaN,0.0,NaT

In [5]:
occupancy = tenants_df.sort_values(["DateOccurred", "Tenant_Code"])
occupancy = occupancy.drop(columns = ["DateApply", "DateApprove", "DateSign", "DateLeaseFrom", "DateLeaseTo", "DateNotice", "RentedEvent", "UnRentedEvent", "Status", "Deposit", "Notes", "Reason", "MTM"])
filter = ["Move In", "Move Out", "Rent Change"]
occupancy = occupancy.loc[occupancy["Event"].isin(filter)]
occupancy.reset_index(drop = True)

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay
0,ce,t0013945,Move Out,2013-04-18,S1452B,2011-08-04,2013-04-17,555.0,0.0,622 days
1,ce,t0014232,Rent Change,2013-04-19,S1454A,2013-05-24,NaT,560.0,0.0,NaT
2,ce,t0014238,Move In,2013-04-19,S1452K,2013-04-12,NaT,580.0,0.0,NaT
3,ce,t0014235,Move In,2013-04-22,C0011D,2013-04-13,NaT,630.0,0.0,NaT
4,ce,t0013870,Move Out,2013-04-23,C5303K,2012-08-18,2013-04-21,570.0,0.0,246 days
5,ce,t0013970,Move Out,2013-04-23,S1456D,2011-12-10,2013-04-23,560.0,0.0,500 days
6,ce,t0014247,Move In,2013-04-23,C5254M,2013-04-19,NaT,670.0,0.0,NaT
7,ce,t0013745,Rent Change,2013-04-26,C05266,2006-11-09,NaT,0.0,0.0,NaT
8,ce,t0013747,Rent Change,2013-04-26,C05270,2012-07-16,NaT,0.0,0.0,NaT
9,ce,t0013748,Rent Change,2013-04-26,C05272,2012-09-28,NaT,0.0,0.0,NaT
10,ce,t0013749,Rent Change,2013-04-26,C05274,2008-11-26,NaT,0.0,0.0,NaT
11,ce,t0013750,Rent Change,2013-04-26,C05276,2001-07-21,NaT,0.0,0.0,NaT
12,ce,t0013751,Rent Change,2013-04-26,C05278,2011-09-16,NaT,0.0,0.0,NaT
13,ce,t0013752,Rent Change,2013-04-26,C05280,2010-04-23,NaT,0.0,0.0,NaT
14,ce,t0013753,Rent Change,2013-04-26,C05282,2012-07-14,NaT,0.0,0.0,NaT
15,ce,t0013754,Rent Change,2013-04-26,C05284,1986-11-26,NaT,0.0,0.0,NaT
16,ce,t0013755,Rent Change,2013-04-26,C0003A,2010-07-29,NaT,0.0,0.0,NaT
17,ce,t0013756,Rent Change,2013-04-26,C0003B,2008-09-01,NaT,0.0,0.0,NaT
18,ce,t0013757,Rent Change,2013-04-26,C0003C,2012-08-03,NaT,0.0,0.0,NaT
19,ce,t0013758,Rent Change,2013-04-26,C0003D,2003-10-01,NaT,0.0,0.0,NaT
20,ce,t0013759,Rent Change,2013-04-26,C0003E,2008-06-26,NaT,0.0,0.0,NaT
21,ce,t0013760,Rent Change,2013-04-26,C0003F,2003-09-19,NaT,0.0,0.0,NaT
22,ce,t0013761,Rent Change,2013-04-26,C0003G,2012-10-13,NaT,0.0,0.0,NaT
23,ce,t0013762,Rent Change,2013-04-26,C0003H,2009-12-02,NaT,0.0,0.0,NaT
24,ce,t0013763,Rent Change,2013-04-26,C0003J,2011-11-11,NaT,0.0,0.0,NaT
25,ce,t0013764,Rent Change,2013-04-26,C0003K,2011-08-19,NaT,0.0,0.0,NaT
26,ce,t0013765,Rent Change,2013-04-26,C0003L,2012-08-01,NaT,0.0,0.0,NaT
27,ce,t0013766,Rent Change,2013-04-26,C0003M,2009-04-30,NaT,0.0,0.0,NaT
28,ce,t0013767,Rent Change,2013-04-26,C0007A,2012-05-04,NaT,0.0,0.0,NaT
29,ce,t0013768,Rent Change,2013-04-26,C0007B,2012-06-20,NaT,0.0,0.0,NaT
...,...,...,...,...,...,...,...,...,...,...
13450,sh,t0041423,Rent Change,2019-01-03,WAIT-2B,2019-07-14,NaT,609.0,0.0,NaT
13451,sh,t0041423,Rent Change,2019-01-03,WAIT-2D,2019-07-14,NaT,641.0,0.0,NaT
13452,sh,t0041423,Rent Change,2019-01-03,WAIT-2C,2019-07-14,NaT,620.0,0.0,NaT
13453,sh,t0029079,Move Out,2019-01-04,TH5979,2017-10-10,2019-01-04,735.0,0.0,451 days
13454,ce,t0032880,Move Out,2019-01-04,M0004B,2017-04-26,2019-01-04,932.0,0.0,618 days
13455,sh,t0040328,Move Out,2019-01-04,SH5904,2018-07-20,2019-01-04,775.0,0.0,168 days
13456,fh,t0040878,Move Out,2019-01-04,1030AB,2018-10-05,2019-01-04,1084.0,0.0,91 days
13457,sh,t0041316,Rent Change,2019-01-04,SH5847,2019-01-31,NaT,775.0,0.0,NaT
13458,fh,t0041439,Rent Change,2019-01-04,WAIT2R-1,2019-01-18,NaT,975.0,0.0,NaT
13459,ce,t0041456,Rent Change,2019-01-04,S1456C,2019-02-28,NaT,675.0,0.0,NaT
13460,ce,t0025351,Move Out,2019-01-05,S1458K,2015-06-13,2019-01-05,714.0,0.0,1302 days
13461,ce,t0041315,Rent Change,2019-01-05,S1458K,2019-01-15,NaT,695.0,0.0,NaT
13462,ce,t0041402,Rent Change,2019-01-05,C5322L,2019-01-05,NaT,705.0,0.0,NaT
13463,ce,t0041402,Move In,2019-01-05,C5322L,2019-01-05,NaT,705.0,0.0,NaT
13464,fh,t0041469,Rent Change,2019-01-06,1068D,2019-02-16,NaT,1199.0,0.0,NaT
13465,ce,t0036960,Move Out,2019-01-07,M0015D,2018-05-13,2019-01-07,790.0,0.0,239 days
13466,fh,t0039948,Move Out,2019-01-07,1098E,2018-06-04,2019-01-07,835.0,0.0,217 days
13467,fh,t0041464,Rent Change,2019-01-07,1094D,2019-05-01,NaT,1199.0,0.0,NaT
13468,fh,t0041464,Rent Change,2019-01-07,WAIT2R-2,2019-05-01,NaT,1050.0,0.0,NaT
13469,ce,t0041468,Move In,2019-01-07,C5250A,2019-01-07,NaT,899.0,0.0,NaT
13470,sh,t0052825,Rent Change,2019-01-07,TH5979,2019-02-01,NaT,800.0,0.0,NaT
13471,ce,t0037928,Move Out,2019-01-08,M0036C,2018-01-02,2018-12-31,738.0,0.0,363 days
13472,ce,t0040157,Move Out,2019-01-08,M0010C,2018-07-13,2019-01-08,790.0,0.0,179 days
13473,fh,t0041047,Rent Change,2019-01-08,1084D,2019-02-01,NaT,1199.0,0.0,NaT
13474,sh,t0041158,Rent Change,2019-01-08,WAIT-3TA,2019-01-31,NaT,735.0,0.0,NaT
13475,ce,t0037956,Move Out,2019-01-09,M0013F,2018-01-09,2019-01-09,646.0,0.0,365 days
13476,sh,t0040675,Move Out,2019-01-09,AC1105,2018-09-24,2019-01-09,1175.0,0.0,107 days
13477,fh,t0041006,Rent Change,2019-01-09,1102DB,2019-01-30,NaT,1050.0,0.0,NaT
13478,fh,t0041482,Rent Change,2019-01-09,1034B,2019-01-19,NaT,835.0,0.0,NaT
13479,mpg,t0052899,Rent Change,2019-01-09,1978-10B,2019-01-10,NaT,1294.0,0.0,NaT

In [17]:
def vacancy (row):
    if row["Event"] == "Move Out":
        return 1
    elif row["Event"] == "Move In":
        return 0
    else:
        return 0
    
occupancy ["Vacancy"] = occupancy.apply(vacancy, axis = 1) 
occupancy ["Vacancy"] = occupancy.Vacancy.astype(int)
occupancy.head()

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay,Vacancy
1634,ce,t0013745,Rent Change,2013-04-26,C05266,2006-11-09,NaT,0.0,0.0,NaT,0
1985,ce,t0013745,Rent Change,2013-04-30,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
9746,ce,t0013745,Rent Change,2014-05-31,C05266,2006-11-09,NaT,896.0,0.0,NaT,0
15599,ce,t0013745,Move Out,2015-02-02,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,1
1937,ce,t0013746,Move Out,2013-04-30,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days,1

In [7]:
occupancy = occupancy.sort_values(["Tenant_Code", "DateOccurred"])
occupancy

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay,Vacancy
1634,ce,t0013745,Rent Change,2013-04-26,C05266,2006-11-09,NaT,0.0,0.0,NaT,0
1985,ce,t0013745,Rent Change,2013-04-30,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
9746,ce,t0013745,Rent Change,2014-05-31,C05266,2006-11-09,NaT,896.0,0.0,NaT,0
15599,ce,t0013745,Move Out,2015-02-02,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,1
1937,ce,t0013746,Move Out,2013-04-30,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days,1
1635,ce,t0013747,Rent Change,2013-04-26,C05270,2012-07-16,NaT,0.0,0.0,NaT,0
1986,ce,t0013747,Rent Change,2013-04-30,C05270,2012-07-16,NaT,770.0,0.0,NaT,0
3223,ce,t0013747,Move Out,2013-08-12,C05270,2012-07-16,2013-08-11,770.0,0.0,391 days,1
1636,ce,t0013748,Rent Change,2013-04-26,C05272,2012-09-28,NaT,0.0,0.0,NaT,0
1987,ce,t0013748,Rent Change,2013-04-30,C05272,2012-09-28,NaT,770.0,0.0,NaT,0
3654,ce,t0013748,Rent Change,2013-09-30,C05272,2012-09-28,NaT,800.0,0.0,NaT,0
13715,ce,t0013748,Rent Change,2014-11-01,C05272,2012-09-28,NaT,824.0,0.0,NaT,0
22610,ce,t0013748,Move Out,2015-10-31,C05272,2012-09-28,2015-10-31,824.0,0.0,1128 days,1
1637,ce,t0013749,Rent Change,2013-04-26,C05274,2008-11-26,NaT,0.0,0.0,NaT,0
1988,ce,t0013749,Rent Change,2013-04-30,C05274,2008-11-26,NaT,880.0,0.0,NaT,0
3924,ce,t0013749,Rent Change,2013-10-31,C05274,2008-11-26,NaT,1795.0,0.0,NaT,0
4306,ce,t0013749,Rent Change,2013-12-01,C05274,2008-11-26,NaT,880.0,0.0,NaT,0
5906,ce,t0013749,Rent Change,2013-12-31,C05274,2008-11-26,NaT,915.0,0.0,NaT,0
16166,ce,t0013749,Rent Change,2015-03-01,C05274,2008-11-26,NaT,924.0,0.0,NaT,0
25221,ce,t0013749,Rent Change,2016-02-29,C05274,2008-11-26,NaT,970.0,0.0,NaT,0
52371,ce,t0013749,Rent Change,2018-02-28,C05274,2008-11-26,NaT,1044.0,0.0,NaT,0
1638,ce,t0013750,Rent Change,2013-04-26,C05276,2001-07-21,NaT,0.0,0.0,NaT,0
1989,ce,t0013750,Rent Change,2013-04-30,C05276,2001-07-21,NaT,880.0,0.0,NaT,0
2800,ce,t0013750,Rent Change,2013-06-30,C05276,2001-07-21,NaT,890.0,0.0,NaT,0
10566,ce,t0013750,Rent Change,2014-06-30,C05276,2001-07-21,NaT,917.0,0.0,NaT,0
19312,ce,t0013750,Rent Change,2015-06-30,C05276,2001-07-21,NaT,945.0,0.0,NaT,0
28784,ce,t0013750,Rent Change,2016-06-30,C05276,2001-07-21,NaT,999.0,0.0,NaT,0
39751,ce,t0013750,Move Out,2017-06-30,C05276,2001-07-21,2017-06-30,999.0,0.0,5823 days,1
1639,ce,t0013751,Rent Change,2013-04-26,C05278,2011-09-16,NaT,0.0,0.0,NaT,0
1990,ce,t0013751,Rent Change,2013-04-30,C05278,2011-09-16,NaT,780.0,0.0,NaT,0
...,...,...,...,...,...,...,...,...,...,...,...
75934,ce,t0051586,Rent Change,2018-12-03,C5322J,2019-01-14,NaT,695.0,0.0,NaT,0
76971,sh,t0052261,Move In,2018-12-28,SH5770,2018-12-28,NaT,0.0,0.0,NaT,0
77064,sh,t0052825,Rent Change,2018-12-31,WAIT-3TA,2018-12-28,NaT,735.0,0.0,NaT,0
77466,sh,t0052825,Rent Change,2019-01-07,TH5979,2019-02-01,NaT,800.0,0.0,NaT,0
77095,mpg,t0052899,Rent Change,2018-12-31,1978-10B,2019-01-04,NaT,1176.0,0.0,NaT,0
77579,mpg,t0052899,Rent Change,2019-01-09,1978-10B,2019-01-10,NaT,1294.0,0.0,NaT,0
54506,mpg,tl108376,Rent Change,2018-04-05,1986-05B,2018-04-07,NaT,1050.0,0.0,NaT,0
54643,mpg,tl108376,Move In,2018-04-09,2006-13C,2018-04-09,NaT,1050.0,0.0,NaT,0
48620,mpg,tl110367,Rent Change,2017-11-15,1968-07C,2017-11-27,NaT,1099.0,0.0,NaT,0
48628,mpg,tl110367,Rent Change,2017-11-15,2006-06C,2017-11-27,NaT,1050.0,0.0,NaT,0
48950,mpg,tl110367,Rent Change,2017-11-27,1968-09B,2017-11-27,NaT,1099.0,0.0,NaT,0
48959,mpg,tl110367,Move In,2017-11-27,1968-09B,2017-11-27,NaT,1099.0,0.0,NaT,0
63148,mpg,tl110367,Move Out,2018-05-26,1968-09B,2017-11-27,2018-05-26,1099.0,0.0,180 days,1
51488,fh,tl115488,Rent Change,2018-02-06,1112A,2018-02-23,NaT,974.0,0.0,NaT,0
51133,mpg,tl115688,Rent Change,2018-01-30,1968-09C,2018-02-15,NaT,1099.0,0.0,NaT,0
52797,mpg,tl115688,Move In,2018-03-08,1968-05B,2018-03-08,NaT,1099.0,0.0,NaT,0
55309,mpg,tl116411,Rent Change,2018-04-21,2030-07A,2018-06-05,NaT,1299.0,0.0,NaT,0
63832,mpg,tl116411,Move In,2018-06-04,1994-07A,2018-06-04,NaT,1299.0,0.0,NaT,0
52051,fh,tl117521,Rent Change,2018-02-23,4731A,2018-06-02,NaT,985.0,0.0,NaT,0
53167,fh,tl117521,Rent Change,2018-03-15,1041B,2018-06-02,NaT,1000.0,0.0,NaT,0
55216,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaT,1135.0,0.0,NaT,0
55218,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaT,985.0,0.0,NaT,0
63692,fh,tl117521,Move In,2018-06-01,1081B,2018-06-01,NaT,985.0,0.0,NaT,0
54980,mpg,tl122318,Rent Change,2018-04-16,1968-07B,2018-05-12,NaT,1119.0,0.0,NaT,0
62647,mpg,tl122318,Move In,2018-05-14,1986-07B,2018-05-12,NaT,1119.0,0.0,NaT,0
55076,mpg,tl122655,Rent Change,2018-04-17,1966-03B,2018-05-10,NaT,1119.0,0.0,NaT,0
62589,mpg,tl122655,Move In,2018-05-12,2006-11A,2018-05-11,NaT,1119.0,0.0,NaT,0
55281,mpg,tl122981,Rent Change,2018-04-20,1968-07B,2018-06-04,NaT,1119.0,0.0,NaT,0
64613,fh,tl127278,Rent Change,2018-06-16,1122AB,2018-06-15,NaT,1135.0,0.0,NaT,0
65118,fh,tl127278,Move In,2018-06-22,1102AB,2018-06-19,NaT,1135.0,0.0,NaT,0

In [ ]:
def vacancy (row):
    if row["Event"] == "Move Out":
        return "1"
    elif row["Event"] == "Move In":
        return "0"
    else:
        return "0"