In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [2]:
tenants = "Tenant_History.csv"
tenants_df = pd.read_csv(tenants)
tenants_df.head()

,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
0,sh,NaN,11/18/2016,t0031357,NaN,Deposit Change,11/22/2016,WC5956H,NaN,11/16/2016,...,NaN,0,0,2,641.0,99.0,0.0,NaN,NaN,0.0
1,ce,NaN,11/22/2016,t0031261,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/3/2016,...,NaN,0,0,0,728.0,708.0,0.0,NaN,NaN,0.0
2,ce,NaN,11/18/2016,t0031367,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/17/2016,...,NaN,0,0,9,728.0,50.0,0.0,NaN,NaN,0.0
3,ce,NaN,11/18/2016,t0031350,NaN,Deposit Change,11/22/2016,M0012B,NaN,11/16/2016,...,NaN,0,0,9,888.0,50.0,0.0,NaN,NaN,0.0
4,sh,NaN,11/22/2016,t0031408,NaN,Submit Application,11/22/2016,WAIT-3TA,NaN,11/22/2016,...,NaN,0,0,6,735.0,0.0,0.0,NaN,NaN,0.0

In [3]:
tenants_df = tenants_df.drop(columns = ["Ref_Property_ID", "Ext_Ref_Tenant_Id", "Ref_Unit_Id"])

In [5]:
tenants_df["Date"] = pd.to_datetime(tenants_df["Date"], format= '%m/%d/%Y')
tenants_df["DateOccurred"] = pd.to_datetime(tenants_df["DateOccurred"], format= '%m/%d/%Y')
tenants_df["DateApply"] = pd.to_datetime(tenants_df["DateApply"], format= '%m/%d/%Y')
tenants_df["DateApprove"] = pd.to_datetime(tenants_df["DateApprove"], format= '%m/%d/%Y')
tenants_df["DateSign"] = pd.to_datetime(tenants_df["DateSign"], format= '%m/%d/%Y')
tenants_df["DateMoveIn"] = pd.to_datetime(tenants_df["DateMoveIn"], format= '%m/%d/%Y')
tenants_df["DateMoveOut"] = pd.to_datetime(tenants_df["DateMoveOut"], format= '%m/%d/%Y')
tenants_df["DateLeaseFrom"] = pd.to_datetime(tenants_df["DateLeaseFrom"], format= '%m/%d/%Y')
tenants_df["DateLeaseTo"] = pd.to_datetime(tenants_df["DateLeaseTo"], format= '%m/%d/%Y')
tenants_df["DateNotice"] = pd.to_datetime(tenants_df["DateNotice"], format= '%m/%d/%Y')

In [7]:
tenants_df.dtypes

Property_Code            object
Date             datetime64[ns]
Tenant_Code              object
Event                    object
DateOccurred     datetime64[ns]
Unit_Code                object
DateApply        datetime64[ns]
DateApprove      datetime64[ns]
DateSign         datetime64[ns]
DateMoveIn       datetime64[ns]
DateMoveOut      datetime64[ns]
DateLeaseFrom    datetime64[ns]
DateLeaseTo      datetime64[ns]
DateNotice       datetime64[ns]
RentedEvent               int64
UnRentedEvent             int64
Status                    int64
Rent                    float64
Deposit                 float64
Sqft                    float64
Notes                    object
Reason                   object
MTM                     float64
dtype: object

In [8]:
rent_change = tenants_df.loc[tenants_df["Event"] == "Rent Change"]
rent_change = rent_change.groupby("Property_Code")
rent_change.head(25)

,Property_Code,Date,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
76,sh,2016-11-28,t0031330,Rent Change,2016-11-28,TT1211,2016-11-14,2016-11-18,2016-11-19,2016-11-28,...,NaT,0,0,2,995.00,22.50,0.0,NaN,NaN,0.0
114,ce,2016-11-29,t0040834,Rent Change,2016-11-29,C5252H,2016-10-25,2016-10-25,2016-10-25,2016-12-10,...,NaT,0,0,2,718.00,99.00,0.0,NaN,NaN,0.0
117,ce,2016-11-29,t0030917,Rent Change,2016-11-29,S1452E,2016-09-20,2016-09-20,NaT,2016-12-01,...,NaT,0,0,7,677.00,99.00,0.0,NaN,NaN,NaN
265,mpg,2018-10-15,t0040965,Rent Change,2018-10-15,2032-03B,2018-10-13,NaT,NaT,2018-11-15,...,NaT,0,0,6,1449.00,0.00,0.0,NaN,NaN,0.0
310,mpg,2018-10-15,t0049073,Rent Change,2018-10-15,1960-08A,2018-10-15,NaT,NaT,2018-10-17,...,NaT,0,0,6,1100.00,0.00,0.0,NaN,NaN,NaN
363,fh,2018-10-16,t0040967,Rent Change,2018-10-16,4759A,2018-10-14,2018-10-15,2018-10-15,2018-10-15,...,NaT,0,0,2,1032.00,99.00,0.0,NaN,NaN,0.0
393,fh,2018-10-16,t0040981,Rent Change,2018-10-16,1022D,2018-10-12,NaT,NaT,2018-10-14,...,NaT,0,0,6,1210.00,0.00,0.0,NaN,NaN,0.0
459,sh,2018-10-16,t0040974,Rent Change,2018-10-16,WC5970G,2018-10-15,2018-10-16,NaT,2018-10-17,...,NaT,0,0,6,675.00,0.00,0.0,NaN,NaN,0.0
495,mpg,2018-10-16,t0040989,Rent Change,2018-10-16,2002-04B,2018-10-16,NaT,NaT,2018-10-31,...,NaT,0,0,6,1100.00,0.00,0.0,NaN,NaN,0.0
499,ce,2017-09-30,t0040903,Rent Change,2017-09-30,S1500-3F,2015-10-01,2015-10-02,2015-10-02,2015-10-29,...,NaT,0,0,0,785.00,99.00,0.0,NaN,NaN,0.0
500,ce,2017-09-30,t0030719,Rent Change,2017-09-30,S1500-6L,2016-08-29,2016-08-29,2016-08-29,2016-09-30,...,NaT,0,0,0,789.00,99.00,0.0,NaN,NaN,0.0
501,ce,2017-09-30,t0030715,Rent Change,2017-09-30,S1500-7C,2016-08-29,2016-08-29,2016-08-29,2016-10-22,...,NaT,0,0,0,895.00,99.00,0.0,NaN,NaN,0.0
502,ce,2017-09-30,t0037965,Rent Change,2017-09-30,C5303D,2012-05-01,NaT,2012-05-01,2006-03-06,...,NaT,0,0,0,0.00,150.00,0.0,NaN,NaN,0.0
503,mpg,2017-09-30,t0034122,Rent Change,2017-09-30,1960-08A,2014-11-01,NaT,2014-11-01,2001-10-01,...,NaT,0,0,0,1239.00,1040.00,0.0,NaN,NaN,0.0
504,mpg,2017-09-30,t0034129,Rent Change,2017-09-30,1964-04A,2015-10-08,NaT,2015-10-08,2015-10-09,...,NaT,0,0,0,1119.00,99.00,0.0,NaN,NaN,0.0
505,mpg,2017-09-30,t0034134,Rent Change,2017-09-30,1966-03A,2015-07-07,NaT,2015-07-07,2015-07-18,...,NaT,0,0,0,1195.58,99.00,0.0,NaN,NaN,0.0
506,mpg,2017-09-30,t0034141,Rent Change,2017-09-30,1968-04A,2015-10-19,NaT,2015-10-19,2015-10-31,...,NaT,0,0,0,1101.00,895.25,0.0,NaN,NaN,0.0
507,mpg,2017-09-30,t0034143,Rent Change,2017-09-30,1968-04C,2016-07-30,NaT,2016-07-30,2016-10-29,...,NaT,0,0,0,1104.00,99.00,0.0,NaN,NaN,0.0
508,mpg,2017-09-30,t0034150,Rent Change,2017-09-30,1968-08A,2016-09-07,NaT,2016-09-07,2016-09-30,...,NaT,0,0,0,1006.00,300.00,0.0,NaN,NaN,0.0
509,mpg,2017-09-30,t0034154,Rent Change,2017-09-30,1968-10A,2016-08-29,NaT,2016-08-29,2016-09-19,...,NaT,0,0,0,1006.00,99.00,0.0,NaN,NaN,0.0
510,mpg,2017-09-30,t0034159,Rent Change,2017-09-30,1968-12B,2016-10-29,NaT,2016-10-29,2016-10-29,...,NaT,0,0,0,983.00,300.00,0.0,NaN,NaN,0.0
511,mpg,2017-09-30,t0034165,Rent Change,2017-09-30,1968-14B,2016-10-10,NaT,2016-10-10,2016-10-28,...,NaT,0,0,0,1251.00,99.00,0.0,NaN,NaN,0.0
512,mpg,2017-09-30,t0034168,Rent Change,2017-09-30,1968-15B,2016-10-21,NaT,2016-10-21,2016-10-28,...,NaT,0,0,0,1254.00,1250.00,0.0,NaN,NaN,0.0
513,mpg,2017-09-30,t0034211,Rent Change,2017-09-30,1986-05C,2016-09-30,NaT,2016-09-30,2016-09-30,...,NaT,0,0,0,1039.00,999.00,0.0,NaN,NaN,0.0
514,mpg,2017-09-30,t0034217,Rent Change,2017-09-30,1986-07C,2017-06-12,NaT,2017-06-12,2017-07-30,...,NaT,0,0,0,1099.00,250.00,0.0,NaN,NaN,0.0
515,mpg,2017-09-30,t0034228,Rent Change,2017-09-30,1986-12C,2015-08-14,NaT,2015-08-14,2015-08-15,...,NaT,0,0,0,1510.00,99.00,0.0,NaN,NaN,0.0
516,mpg,2017-09-30,t0034475,Rent Change,2017-09-30,1986-13B,2017-08-23,NaT,NaT,2017-09-01,...,NaT,0,0,0,1300.00,1400.00,0.0,NaN,NaN,0.0
517,mpg,2017-09-30,t0034250,Rent Change,2017-09-30,1996-05B,2015-09-18,NaT,2015-09-18,2015-09-30,...,NaT,0,0,0,1150.00,99.00,0.0,NaN,NaN,0.0
518,mpg,2017-09-30,t0034299,Rent Change,2017-09-30,2008-03A,2015-09-29,NaT,2015-09-29,2015-10-03,...,NaT,0,0,0,1184.00,99.00,0.0,NaN,NaN,0.0
519,fh,2017-09-30,t0034730,Rent Change,2017-09-30,1014D,2017-08-26,2017-08-27,2017-08-27,2017-08-30,...,NaT,0,0,0,899.00,99.00,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,ce,2016-11-30,t0027665,Rent Change,2016-11-30,M0009A,2015-12-14,2015-12-14,2015-12-14,2015-12-26,...,NaT,0,0,0,604.00,119.00,0.0,NaN,NaN,0.0
881,sh,2018-08-03,t0040449,Rent Change,2018-08-03,WAIT-3TA,2018-08-02,NaT,NaT,2018-09-01,...,NaT,0,0,6,735.00,0.00,0.0,NaN,NaN,0.0
908,sh,2018-08-03,t0040386,Rent Change,2018-08-03,WAIT-2TH,2018-07-26,2018-07-27,NaT,2018-08-24,...,NaT,0,0,6,709.00,0.00,0.0,NaN,NaN,0.0
921,sh,2018-08-03,t0043967,Rent Change,2018-08-03,FT5906D,2018-08-03,NaT,NaT,2018-09-17,...,NaT,0,0,6,650.00,0.00,0.0,NaN,NaN,NaN
960,sh,2018-08-03,t0040434,Rent Change,2018-08-03,WAIT-2TH,2018-07-31,2018-08-01,NaT,2018-08-31,...,NaT,0,0,6,709.00,0.00,0.0,NaN,NaN,0.0
962,sh,2018-08-03,t0040386,Rent Change,2018-08-03,AC1115,2018-07-26,2018-07-27,NaT,2018-08-24,...,NaT,0,0,6,1175.00,0.00,0.0,NaN,NaN,0.0
967,sh,2018-08-03,t0040442,Rent Change,2018-08-03,WC5933G,2018-08-02,2018-08-03,NaT,2018-09-07,...,NaT,0,0,6,715.00,0.00,0.0,NaN,NaN,0.0
970,sh,2018-08-03,t0043839,Rent Change,2018-08-03,WC5950E,2018-08-01,NaT,NaT,2018-09-05,...,NaT,0,0,6,720.00,0.00,0.0,NaN,NaN,NaN
977,sh,2018-08-03,t0039622,Rent Change,2018-08-03,WAIT,2018-06-14,2018-06-15,NaT,2018-09-30,...,NaT,0,0,6,0.00,-50.00,0.0,NaN,NaN,0.0
1003,sh,2018-08-03,t0040188,Rent Change,2018-08-03,WC5970I,2018-06-24,2018-06-25,2018-07-27,2018-08-10,...,NaT,0,0,2,675.00,99.00,0.0,NaN,NaN,0.0
1007,sh,2018-08-03,t0040371,Rent Change,2018-08-03,SH5817,2018-07-23,2018-07-23,NaT,2018-08-03,...,NaT,0,0,6,800.00,99.00,0.0,NaN,NaN,0.0
1015,sh,2018-08-04,t0040444,Rent Change,2018-08-04,FT5892F,2018-08-02,2018-08-03,NaT,2018-08-31,...,NaT,0,0,6,685.00,0.00,0.0,NaN,NaN,0.0
1204,mpg,2018-07-09,t0041355,Rent Change,2018-07-09,1968-11A,2018-07-09,NaT,NaT,2018-07-11,...,NaT,0,0,6,1119.00,0.00,0.0,NaN,NaN,NaN
1230,fh,2018-07-09,t0040061,Rent Change,2018-07-09,WAIT2R-2,2018-06-12,2018-06-13,NaT,NaT,...,NaT,0,0,7,1050.00,99.00,0.0,NaN,NaN,0.0
1238,mpg,2018-07-09,t0041355,Rent Change,2018-07-09,1968-03A,2018-07-09,2018-07-09,2018-07-09,2018-07-20,...,NaT,0,0,2,1050.00,0.00,0.0,NaN,NaN,NaN
1259,sh,2018-07-10,t0040228,Rent Change,2018-07-10,FT5880I,2018-06-29,2018-06-29,2018-07-03,2018-07-20,...,NaT,0,0,2,685.00,99.00,0.0,NaN,NaN,0.0
1382,sh,2018-07-11,t0040293,Rent Change,2018-07-11,WC5946D,2018-07-11,NaT,NaT,2018-08-01,...,NaT,0,0,6,720.00,0.00,0.0,NaN,NaN,0.0
1384,sh,2018-07-11,t0040171,Rent Change,2018-07-11,TH5916,2018-06-22,2018-06-22,NaT,2018-09-10,...,NaT,0,0,6,900.00,99.00,0.0,NaN,NaN,0.0
1390,sh,2017-11-17,t0037866,Rent Change,2017-11-17,WC5956G,2017-11-17,NaT,NaT,2017-12-10,...,NaT,0,0,6,675.00,0.00,0.0,NaN,NaN,0.0
1396,sh,2017-11-17,t0036328,Rent Change,2017-11-17,AC1053,2017-09-16,2017-09-18,2017-10-09,2017-11-22,...,NaT,0,0,2,1060.00,99.00,0.0,NaN,NaN,0.0
1434,sh,2017-11-18,t0037836,Rent Change,2017-11-18,TH5827,2017-11-10,2017-11-14,NaT,2017-12-22,...,NaT,0,0,6,890.00,0.00,0.0,NaN,NaN,0.0
1501,mpg,2017-11-21,t0037877,Rent Change,2017-11-21,2022-03B,2017-11-18,NaT,NaT,2017-12-08,...,NaT,0,0,6,1499.00,0.00,0.0,NaN,NaN,0.0
1520,mpg,2017-11-21,t0037874,Rent Change,2017-11-21,1986-12B,2017-11-17,2017-11-21,NaT,2018-01-27,...,NaT,0,0,6,1699.00,0.00,0.0,NaN,NaN,0.0
1599,sh,2017-11-22,t0037855,Rent Change,2017-11-22,WC5956H,2017-11-15,2017-11-21,NaT,2018-01-18,...,NaT,0,0,6,675.00,0.00,0.0,NaN,NaN,0.0
1604,sh,2017-11-22,t0037891,Rent Change,2017-11-22,AC1053,2017-11-22,NaT,NaT,2017-11-30,...,NaT,0,0,6,1060.00,0.00,0.0,NaN,NaN,0.0
1624,mpg,2017-11-26,t0037902,Rent Change,2017-11-26,1968-03A,2017-11-25,NaT,NaT,2017-12-02,...,NaT,0,0,6,1050.00,0.00,0.0,NaN,NaN,NaN
1716,sh,2018-05-22,t0036886,Rent Change,2018-05-22,TT1174,2018-04-23,2018-04-23,2018-04-24,2018-05-15,...,NaT,0,0,0,1350.00,99.00,0.0,NaN,NaN,0.0
1909,sh,2017-05-30,t0032853,Rent Change,2017-05-30,TH5981,2017-04-21,2017-04-26,2017-05-03,2017-05-30,...,NaT,0,0,2,735.00,99.00,0.0,NaN,NaN,0.0
1921,sh,2017-05-30,t0032894,Rent Change,2017-05-30,AC1099,2017-05-30,2017-05-30,NaT,2017-07-31,...,NaT,0,0,6,1195.00,99.00,0.0,NaN,NaN,0.0
1942,sh,2017-05-30,t0033124,Rent Change,2017-05-30,TT1199,2017-05-30,NaT,NaT,2017-07-10,...,NaT,0,0,6,995.00,0.00,0.0,NaN,NaN,0.0

In [9]:
sh = tenants_df.loc[tenants_df["Property_Code"] == "sh"]
sh_rent = sh.loc[sh["Event"] == "Rent Change"]
sh_rent.head(25)

,Property_Code,Date,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
76,sh,2016-11-28,t0031330,Rent Change,2016-11-28,TT1211,2016-11-14,2016-11-18,2016-11-19,2016-11-28,...,NaT,0,0,2,995.0,22.5,0.0,NaN,NaN,0.0
459,sh,2018-10-16,t0040974,Rent Change,2018-10-16,WC5970G,2018-10-15,2018-10-16,NaT,2018-10-17,...,NaT,0,0,6,675.0,0.0,0.0,NaN,NaN,0.0
881,sh,2018-08-03,t0040449,Rent Change,2018-08-03,WAIT-3TA,2018-08-02,NaT,NaT,2018-09-01,...,NaT,0,0,6,735.0,0.0,0.0,NaN,NaN,0.0
908,sh,2018-08-03,t0040386,Rent Change,2018-08-03,WAIT-2TH,2018-07-26,2018-07-27,NaT,2018-08-24,...,NaT,0,0,6,709.0,0.0,0.0,NaN,NaN,0.0
921,sh,2018-08-03,t0043967,Rent Change,2018-08-03,FT5906D,2018-08-03,NaT,NaT,2018-09-17,...,NaT,0,0,6,650.0,0.0,0.0,NaN,NaN,NaN
960,sh,2018-08-03,t0040434,Rent Change,2018-08-03,WAIT-2TH,2018-07-31,2018-08-01,NaT,2018-08-31,...,NaT,0,0,6,709.0,0.0,0.0,NaN,NaN,0.0
962,sh,2018-08-03,t0040386,Rent Change,2018-08-03,AC1115,2018-07-26,2018-07-27,NaT,2018-08-24,...,NaT,0,0,6,1175.0,0.0,0.0,NaN,NaN,0.0
967,sh,2018-08-03,t0040442,Rent Change,2018-08-03,WC5933G,2018-08-02,2018-08-03,NaT,2018-09-07,...,NaT,0,0,6,715.0,0.0,0.0,NaN,NaN,0.0
970,sh,2018-08-03,t0043839,Rent Change,2018-08-03,WC5950E,2018-08-01,NaT,NaT,2018-09-05,...,NaT,0,0,6,720.0,0.0,0.0,NaN,NaN,NaN
977,sh,2018-08-03,t0039622,Rent Change,2018-08-03,WAIT,2018-06-14,2018-06-15,NaT,2018-09-30,...,NaT,0,0,6,0.0,-50.0,0.0,NaN,NaN,0.0
1003,sh,2018-08-03,t0040188,Rent Change,2018-08-03,WC5970I,2018-06-24,2018-06-25,2018-07-27,2018-08-10,...,NaT,0,0,2,675.0,99.0,0.0,NaN,NaN,0.0
1007,sh,2018-08-03,t0040371,Rent Change,2018-08-03,SH5817,2018-07-23,2018-07-23,NaT,2018-08-03,...,NaT,0,0,6,800.0,99.0,0.0,NaN,NaN,0.0
1015,sh,2018-08-04,t0040444,Rent Change,2018-08-04,FT5892F,2018-08-02,2018-08-03,NaT,2018-08-31,...,NaT,0,0,6,685.0,0.0,0.0,NaN,NaN,0.0
1259,sh,2018-07-10,t0040228,Rent Change,2018-07-10,FT5880I,2018-06-29,2018-06-29,2018-07-03,2018-07-20,...,NaT,0,0,2,685.0,99.0,0.0,NaN,NaN,0.0
1382,sh,2018-07-11,t0040293,Rent Change,2018-07-11,WC5946D,2018-07-11,NaT,NaT,2018-08-01,...,NaT,0,0,6,720.0,0.0,0.0,NaN,NaN,0.0
1384,sh,2018-07-11,t0040171,Rent Change,2018-07-11,TH5916,2018-06-22,2018-06-22,NaT,2018-09-10,...,NaT,0,0,6,900.0,99.0,0.0,NaN,NaN,0.0
1390,sh,2017-11-17,t0037866,Rent Change,2017-11-17,WC5956G,2017-11-17,NaT,NaT,2017-12-10,...,NaT,0,0,6,675.0,0.0,0.0,NaN,NaN,0.0
1396,sh,2017-11-17,t0036328,Rent Change,2017-11-17,AC1053,2017-09-16,2017-09-18,2017-10-09,2017-11-22,...,NaT,0,0,2,1060.0,99.0,0.0,NaN,NaN,0.0
1434,sh,2017-11-18,t0037836,Rent Change,2017-11-18,TH5827,2017-11-10,2017-11-14,NaT,2017-12-22,...,NaT,0,0,6,890.0,0.0,0.0,NaN,NaN,0.0
1599,sh,2017-11-22,t0037855,Rent Change,2017-11-22,WC5956H,2017-11-15,2017-11-21,NaT,2018-01-18,...,NaT,0,0,6,675.0,0.0,0.0,NaN,NaN,0.0
1604,sh,2017-11-22,t0037891,Rent Change,2017-11-22,AC1053,2017-11-22,NaT,NaT,2017-11-30,...,NaT,0,0,6,1060.0,0.0,0.0,NaN,NaN,0.0
1716,sh,2018-05-22,t0036886,Rent Change,2018-05-22,TT1174,2018-04-23,2018-04-23,2018-04-24,2018-05-15,...,NaT,0,0,0,1350.0,99.0,0.0,NaN,NaN,0.0
1909,sh,2017-05-30,t0032853,Rent Change,2017-05-30,TH5981,2017-04-21,2017-04-26,2017-05-03,2017-05-30,...,NaT,0,0,2,735.0,99.0,0.0,NaN,NaN,0.0
1921,sh,2017-05-30,t0032894,Rent Change,2017-05-30,AC1099,2017-05-30,2017-05-30,NaT,2017-07-31,...,NaT,0,0,6,1195.0,99.0,0.0,NaN,NaN,0.0
1942,sh,2017-05-30,t0033124,Rent Change,2017-05-30,TT1199,2017-05-30,NaT,NaT,2017-07-10,...,NaT,0,0,6,995.0,0.0,0.0,NaN,NaN,0.0

In [10]:
moveout = tenants_df.dropna(subset = ["DateMoveOut"])
moveout_event = moveout.groupby("Event").count()
moveout_event.head()

,Property_Code,Date,Tenant_Code,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,DateMoveOut,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
Event,,,,,,,,,,,,,,,,,,,,,
Activity,3,3,3,3,2,0,0,0,3,3,...,0,3,3,3,3,3,3,3,0,3
Adjust Deposit Accounting,1111,1111,1111,1111,1111,1111,595,1110,1111,1111,...,1094,1111,1111,1111,1111,1111,1111,502,0,1111
Adjust Lease End Date,5,5,5,5,5,5,1,5,5,5,...,5,5,5,5,5,5,5,0,0,5
Adjust Move In Dates,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,0,0,3
Adjust Moveout Dates,2906,2906,2906,2906,2906,2906,1921,2905,2906,2906,...,2900,2906,2906,2906,2906,2906,2906,2906,45,2906

In [11]:
apt_types = "common units.csv"
apt_types_df = pd.read_csv(apt_types)
moveout = moveout.drop(columns = ["Reason"])
apt_types_df = apt_types_df.drop(columns = ["Bldg_Code", "Available_Date", "Floor_Code", "Country", "Ref_Property_Id", "Ext_Ref_Unit_Id", "Ref_Building_Id", "Ref_Floor_Id", "Address_2","Address_3", "Address_4", "Location"])
apt_types_df.head()

,Property_Code,Unit_Code,Rental_Type,Date_Ready,Address_1,City,State,Zip_Code,Rent,SQFT,Rent_Ready,Exclude,Unit_Type,BedRooms,Attributes_1
0,ce,C0007A,Residential,12/25/2018,7 Camelot Drive A,Fairfield,OH,45014,770,675,1,0,ce1ar,1,1.0
1,ce,C0007B,Residential,8/31/2015,7 Camelot Drive B,Fairfield,OH,45014,770,675,1,0,ce1ar,1,1.0
2,ce,C0007C,Residential,6/12/2018,7 Camelot Drive C,Fairfield,OH,45014,780,675,1,0,ce1ar,1,1.0
3,ce,C0007D,Residential,1/23/2017,7 Camelot Drive D,Fairfield,OH,45014,780,675,1,0,ce1ar,1,1.0
4,ce,C0007E,Residential,9/3/2018,7 Camelot Drive E,Fairfield,OH,45014,770,675,1,0,ce1ar,1,1.0

In [12]:
moveout.head()

,Property_Code,Date,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,...,DateLeaseTo,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,MTM
13,sh,2016-11-23,t0023536,Adjust Moveout Dates,2016-11-23,TH5967,2014-10-09,2014-10-09,2014-10-20,2014-10-24,...,2016-11-23,2016-10-15,0,0,3,721.0,99.0,0.0,Eviction,0.0
51,sh,2016-11-28,t0031031,Adjust Moveout Dates,2016-11-28,FT5880M,2016-10-06,2016-10-07,2016-10-07,2016-10-07,...,2017-11-06,2016-11-21,0,0,4,620.0,620.0,0.0,Transfer within Community,0.0
64,sh,2016-11-22,t0024546,Notice Given,2016-11-28,WC5933V,2015-01-26,2015-01-27,2015-01-27,2015-01-30,...,2017-04-03,2016-11-22,0,0,4,628.0,198.0,0.0,Transfer within Community,0.0
65,sh,2016-11-22,t0024546,Move Out,2016-11-28,WC5933V,2015-01-26,2015-01-27,2015-01-27,2015-01-30,...,2017-04-03,2016-11-22,0,0,1,628.0,198.0,0.0,Move Out,0.0
66,ce,2016-09-01,t0025722,Notice Given,2016-11-28,C5252H,2015-07-16,2015-07-21,2015-07-21,2015-08-22,...,2017-08-21,2016-09-01,0,0,4,719.0,99.0,0.0,Cannot Afford Apartment,0.0

In [13]:
moveout = moveout.dropna(subset = ["Unit_Code"])
apt_types_df = apt_types_df.dropna(subset = ["Unit_Code"])
moveout["Unit_Code"] = moveout.Unit_Code.astype(str)
apt_types_df["Unit_Code"] = apt_types_df.Unit_Code.astype(str)
apt_types_df.dtypes

Property_Code     object
Unit_Code         object
Rental_Type       object
Date_Ready        object
Address_1         object
City              object
State             object
Zip_Code           int64
Rent               int64
SQFT               int64
Rent_Ready         int64
Exclude            int64
Unit_Type         object
BedRooms           int64
Attributes_1     float64
dtype: object

In [14]:
moveout.dtypes

Property_Code            object
Date             datetime64[ns]
Tenant_Code              object
Event                    object
DateOccurred     datetime64[ns]
Unit_Code                object
DateApply        datetime64[ns]
DateApprove      datetime64[ns]
DateSign         datetime64[ns]
DateMoveIn       datetime64[ns]
DateMoveOut      datetime64[ns]
DateLeaseFrom    datetime64[ns]
DateLeaseTo      datetime64[ns]
DateNotice       datetime64[ns]
RentedEvent               int64
UnRentedEvent             int64
Status                    int64
Rent                    float64
Deposit                 float64
Sqft                    float64
Notes                    object
MTM                     float64
dtype: object

In [15]:
moveout.count()

Property_Code    18868
Date             18868
Tenant_Code      18868
Event            18868
DateOccurred     18868
Unit_Code        18868
DateApply        18679
DateApprove      11274
DateSign         18720
DateMoveIn       18868
DateMoveOut      18868
DateLeaseFrom    18868
DateLeaseTo      18868
DateNotice       18694
RentedEvent      18868
UnRentedEvent    18868
Status           18868
Rent             18868
Deposit          18868
Sqft             18868
Notes            13080
MTM              18813
dtype: int64

In [16]:
tenant_apt = pd.merge(moveout, apt_types, how = "inner", on = ["Unit_Code"])
tenant_apt.head()

ValueError: can not merge DataFrame with instance of type <class 'str'>

In [17]:
cannotafford = tenants_df.loc[tenants_df["Notes"] == "Cannot Afford Apartment"]
cannotafford_df = cannotafford.groupby("Event").count()
cannotafford_df.head(25)

,Property_Code,Date,Tenant_Code,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,DateMoveOut,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
Event,,,,,,,,,,,,,,,,,,,,,
Adjust Moveout Dates,593,593,593,593,593,593,453,593,593,593,...,593,593,593,593,593,593,593,593,0,593
Early Termination,38,38,38,38,38,38,35,38,38,38,...,38,38,38,38,38,38,38,38,6,38
Eviction,152,152,152,152,152,151,108,152,152,152,...,152,152,152,152,152,152,152,152,46,152
Notice Given,680,680,680,680,680,680,433,680,680,680,...,680,680,680,680,680,680,680,680,142,680
Skip,68,68,68,68,68,68,37,68,68,68,...,68,68,68,68,68,68,68,68,15,68