In [108]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [109]:
tenants = "Tenant_History.csv"
tenants_df = pd.read_csv(tenants, header=1)
tenants_df.head()

,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
0,sh,NaN,11/18/2016,t0031357,NaN,Deposit Change,11/22/2016,WC5956H,NaN,11/16/2016,...,NaN,0,0,2,641.0,99.0,0.0,NaN,NaN,0.0
1,ce,NaN,11/22/2016,t0031261,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/3/2016,...,NaN,0,0,0,728.0,708.0,0.0,NaN,NaN,0.0
2,ce,NaN,11/18/2016,t0031367,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/17/2016,...,NaN,0,0,9,728.0,50.0,0.0,NaN,NaN,0.0
3,ce,NaN,11/18/2016,t0031350,NaN,Deposit Change,11/22/2016,M0012B,NaN,11/16/2016,...,NaN,0,0,9,888.0,50.0,0.0,NaN,NaN,0.0
4,sh,NaN,11/22/2016,t0031408,NaN,Submit Application,11/22/2016,WAIT-3TA,NaN,11/22/2016,...,NaN,0,0,6,735.0,0.0,0.0,NaN,NaN,0.0

In [110]:
tenants_df = tenants_df.drop(columns = ["Ref_Property_ID", "Ext_Ref_Tenant_Id", "Ref_Unit_Id"])

In [111]:
rent_change = tenants_df.loc[tenants_df["Event"] == "Rent Change"]
rent_change = rent_change.groupby("Property_Code")
rent_change.head(25)

,Property_Code,Date,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
76,sh,11/28/2016,t0031330,Rent Change,11/28/2016,TT1211,11/14/2016,11/18/2016,11/19/2016,11/28/2016,...,NaN,0,0,2,995.00,22.50,0.0,NaN,NaN,0.0
114,ce,11/29/2016,t0040834,Rent Change,11/29/2016,C5252H,10/25/2016,10/25/2016,10/25/2016,12/10/2016,...,NaN,0,0,2,718.00,99.00,0.0,NaN,NaN,0.0
117,ce,11/29/2016,t0030917,Rent Change,11/29/2016,S1452E,9/20/2016,9/20/2016,NaN,12/1/2016,...,NaN,0,0,7,677.00,99.00,0.0,NaN,NaN,NaN
265,mpg,10/15/2018,t0040965,Rent Change,10/15/2018,2032-03B,10/13/2018,NaN,NaN,11/15/2018,...,NaN,0,0,6,1449.00,0.00,0.0,NaN,NaN,0.0
310,mpg,10/15/2018,t0049073,Rent Change,10/15/2018,1960-08A,10/15/2018,NaN,NaN,10/17/2018,...,NaN,0,0,6,1100.00,0.00,0.0,NaN,NaN,NaN
363,fh,10/16/2018,t0040967,Rent Change,10/16/2018,4759A,10/14/2018,10/15/2018,10/15/2018,10/15/2018,...,NaN,0,0,2,1032.00,99.00,0.0,NaN,NaN,0.0
393,fh,10/16/2018,t0040981,Rent Change,10/16/2018,1022D,10/12/2018,NaN,NaN,10/14/2018,...,NaN,0,0,6,1210.00,0.00,0.0,NaN,NaN,0.0
459,sh,10/16/2018,t0040974,Rent Change,10/16/2018,WC5970G,10/15/2018,10/16/2018,NaN,10/17/2018,...,NaN,0,0,6,675.00,0.00,0.0,NaN,NaN,0.0
495,mpg,10/16/2018,t0040989,Rent Change,10/16/2018,2002-04B,10/16/2018,NaN,NaN,10/31/2018,...,NaN,0,0,6,1100.00,0.00,0.0,NaN,NaN,0.0
499,ce,9/30/2017,t0040903,Rent Change,9/30/2017,S1500-3F,10/1/2015,10/2/2015,10/2/2015,10/29/2015,...,NaN,0,0,0,785.00,99.00,0.0,NaN,NaN,0.0
500,ce,9/30/2017,t0030719,Rent Change,9/30/2017,S1500-6L,8/29/2016,8/29/2016,8/29/2016,9/30/2016,...,NaN,0,0,0,789.00,99.00,0.0,NaN,NaN,0.0
501,ce,9/30/2017,t0030715,Rent Change,9/30/2017,S1500-7C,8/29/2016,8/29/2016,8/29/2016,10/22/2016,...,NaN,0,0,0,895.00,99.00,0.0,NaN,NaN,0.0
502,ce,9/30/2017,t0037965,Rent Change,9/30/2017,C5303D,5/1/2012,NaN,5/1/2012,3/6/2006,...,NaN,0,0,0,0.00,150.00,0.0,NaN,NaN,0.0
503,mpg,9/30/2017,t0034122,Rent Change,9/30/2017,1960-08A,11/1/2014,NaN,11/1/2014,10/1/2001,...,NaN,0,0,0,1239.00,1040.00,0.0,NaN,NaN,0.0
504,mpg,9/30/2017,t0034129,Rent Change,9/30/2017,1964-04A,10/8/2015,NaN,10/8/2015,10/9/2015,...,NaN,0,0,0,1119.00,99.00,0.0,NaN,NaN,0.0
505,mpg,9/30/2017,t0034134,Rent Change,9/30/2017,1966-03A,7/7/2015,NaN,7/7/2015,7/18/2015,...,NaN,0,0,0,1195.58,99.00,0.0,NaN,NaN,0.0
506,mpg,9/30/2017,t0034141,Rent Change,9/30/2017,1968-04A,10/19/2015,NaN,10/19/2015,10/31/2015,...,NaN,0,0,0,1101.00,895.25,0.0,NaN,NaN,0.0
507,mpg,9/30/2017,t0034143,Rent Change,9/30/2017,1968-04C,7/30/2016,NaN,7/30/2016,10/29/2016,...,NaN,0,0,0,1104.00,99.00,0.0,NaN,NaN,0.0
508,mpg,9/30/2017,t0034150,Rent Change,9/30/2017,1968-08A,9/7/2016,NaN,9/7/2016,9/30/2016,...,NaN,0,0,0,1006.00,300.00,0.0,NaN,NaN,0.0
509,mpg,9/30/2017,t0034154,Rent Change,9/30/2017,1968-10A,8/29/2016,NaN,8/29/2016,9/19/2016,...,NaN,0,0,0,1006.00,99.00,0.0,NaN,NaN,0.0
510,mpg,9/30/2017,t0034159,Rent Change,9/30/2017,1968-12B,10/29/2016,NaN,10/29/2016,10/29/2016,...,NaN,0,0,0,983.00,300.00,0.0,NaN,NaN,0.0
511,mpg,9/30/2017,t0034165,Rent Change,9/30/2017,1968-14B,10/10/2016,NaN,10/10/2016,10/28/2016,...,NaN,0,0,0,1251.00,99.00,0.0,NaN,NaN,0.0
512,mpg,9/30/2017,t0034168,Rent Change,9/30/2017,1968-15B,10/21/2016,NaN,10/21/2016,10/28/2016,...,NaN,0,0,0,1254.00,1250.00,0.0,NaN,NaN,0.0
513,mpg,9/30/2017,t0034211,Rent Change,9/30/2017,1986-05C,9/30/2016,NaN,9/30/2016,9/30/2016,...,NaN,0,0,0,1039.00,999.00,0.0,NaN,NaN,0.0
514,mpg,9/30/2017,t0034217,Rent Change,9/30/2017,1986-07C,6/12/2017,NaN,6/12/2017,7/30/2017,...,NaN,0,0,0,1099.00,250.00,0.0,NaN,NaN,0.0
515,mpg,9/30/2017,t0034228,Rent Change,9/30/2017,1986-12C,8/14/2015,NaN,8/14/2015,8/15/2015,...,NaN,0,0,0,1510.00,99.00,0.0,NaN,NaN,0.0
516,mpg,9/30/2017,t0034475,Rent Change,9/30/2017,1986-13B,8/23/2017,NaN,NaN,9/1/2017,...,NaN,0,0,0,1300.00,1400.00,0.0,NaN,NaN,0.0
517,mpg,9/30/2017,t0034250,Rent Change,9/30/2017,1996-05B,9/18/2015,NaN,9/18/2015,9/30/2015,...,NaN,0,0,0,1150.00,99.00,0.0,NaN,NaN,0.0
518,mpg,9/30/2017,t0034299,Rent Change,9/30/2017,2008-03A,9/29/2015,NaN,9/29/2015,10/3/2015,...,NaN,0,0,0,1184.00,99.00,0.0,NaN,NaN,0.0
519,fh,9/30/2017,t0034730,Rent Change,9/30/2017,1014D,8/26/2017,8/27/2017,8/27/2017,8/30/2017,...,NaN,0,0,0,899.00,99.00,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,ce,11/30/2016,t0027665,Rent Change,11/30/2016,M0009A,12/14/2015,12/14/2015,12/14/2015,12/26/2015,...,NaN,0,0,0,604.00,119.00,0.0,NaN,NaN,0.0
881,sh,8/3/2018,t0040449,Rent Change,8/3/2018,WAIT-3TA,8/2/2018,NaN,NaN,9/1/2018,...,NaN,0,0,6,735.00,0.00,0.0,NaN,NaN,0.0
908,sh,8/3/2018,t0040386,Rent Change,8/3/2018,WAIT-2TH,7/26/2018,7/27/2018,NaN,8/24/2018,...,NaN,0,0,6,709.00,0.00,0.0,NaN,NaN,0.0
921,sh,8/3/2018,t0043967,Rent Change,8/3/2018,FT5906D,8/3/2018,NaN,NaN,9/17/2018,...,NaN,0,0,6,650.00,0.00,0.0,NaN,NaN,NaN
960,sh,8/3/2018,t0040434,Rent Change,8/3/2018,WAIT-2TH,7/31/2018,8/1/2018,NaN,8/31/2018,...,NaN,0,0,6,709.00,0.00,0.0,NaN,NaN,0.0
962,sh,8/3/2018,t0040386,Rent Change,8/3/2018,AC1115,7/26/2018,7/27/2018,NaN,8/24/2018,...,NaN,0,0,6,1175.00,0.00,0.0,NaN,NaN,0.0
967,sh,8/3/2018,t0040442,Rent Change,8/3/2018,WC5933G,8/2/2018,8/3/2018,NaN,9/7/2018,...,NaN,0,0,6,715.00,0.00,0.0,NaN,NaN,0.0
970,sh,8/3/2018,t0043839,Rent Change,8/3/2018,WC5950E,8/1/2018,NaN,NaN,9/5/2018,...,NaN,0,0,6,720.00,0.00,0.0,NaN,NaN,NaN
977,sh,8/3/2018,t0039622,Rent Change,8/3/2018,WAIT,6/14/2018,6/15/2018,NaN,9/30/2018,...,NaN,0,0,6,0.00,-50.00,0.0,NaN,NaN,0.0
1003,sh,8/3/2018,t0040188,Rent Change,8/3/2018,WC5970I,6/24/2018,6/25/2018,7/27/2018,8/10/2018,...,NaN,0,0,2,675.00,99.00,0.0,NaN,NaN,0.0
1007,sh,8/3/2018,t0040371,Rent Change,8/3/2018,SH5817,7/23/2018,7/23/2018,NaN,8/3/2018,...,NaN,0,0,6,800.00,99.00,0.0,NaN,NaN,0.0
1015,sh,8/4/2018,t0040444,Rent Change,8/4/2018,FT5892F,8/2/2018,8/3/2018,NaN,8/31/2018,...,NaN,0,0,6,685.00,0.00,0.0,NaN,NaN,0.0
1204,mpg,7/9/2018,t0041355,Rent Change,7/9/2018,1968-11A,7/9/2018,NaN,NaN,7/11/2018,...,NaN,0,0,6,1119.00,0.00,0.0,NaN,NaN,NaN
1230,fh,7/9/2018,t0040061,Rent Change,7/9/2018,WAIT2R-2,6/12/2018,6/13/2018,NaN,NaN,...,NaN,0,0,7,1050.00,99.00,0.0,NaN,NaN,0.0
1238,mpg,7/9/2018,t0041355,Rent Change,7/9/2018,1968-03A,7/9/2018,7/9/2018,7/9/2018,7/20/2018,...,NaN,0,0,2,1050.00,0.00,0.0,NaN,NaN,NaN
1259,sh,7/10/2018,t0040228,Rent Change,7/10/2018,FT5880I,6/29/2018,6/29/2018,7/3/2018,7/20/2018,...,NaN,0,0,2,685.00,99.00,0.0,NaN,NaN,0.0
1382,sh,7/11/2018,t0040293,Rent Change,7/11/2018,WC5946D,7/11/2018,NaN,NaN,8/1/2018,...,NaN,0,0,6,720.00,0.00,0.0,NaN,NaN,0.0
1384,sh,7/11/2018,t0040171,Rent Change,7/11/2018,TH5916,6/22/2018,6/22/2018,NaN,9/10/2018,...,NaN,0,0,6,900.00,99.00,0.0,NaN,NaN,0.0
1390,sh,11/17/2017,t0037866,Rent Change,11/17/2017,WC5956G,11/17/2017,NaN,NaN,12/10/2017,...,NaN,0,0,6,675.00,0.00,0.0,NaN,NaN,0.0
1396,sh,11/17/2017,t0036328,Rent Change,11/17/2017,AC1053,9/16/2017,9/18/2017,10/9/2017,11/22/2017,...,NaN,0,0,2,1060.00,99.00,0.0,NaN,NaN,0.0
1434,sh,11/18/2017,t0037836,Rent Change,11/18/2017,TH5827,11/10/2017,11/14/2017,NaN,12/22/2017,...,NaN,0,0,6,890.00,0.00,0.0,NaN,NaN,0.0
1501,mpg,11/21/2017,t0037877,Rent Change,11/21/2017,2022-03B,11/18/2017,NaN,NaN,12/8/2017,...,NaN,0,0,6,1499.00,0.00,0.0,NaN,NaN,0.0
1520,mpg,11/21/2017,t0037874,Rent Change,11/21/2017,1986-12B,11/17/2017,11/21/2017,NaN,1/27/2018,...,NaN,0,0,6,1699.00,0.00,0.0,NaN,NaN,0.0
1599,sh,11/22/2017,t0037855,Rent Change,11/22/2017,WC5956H,11/15/2017,11/21/2017,NaN,1/18/2018,...,NaN,0,0,6,675.00,0.00,0.0,NaN,NaN,0.0
1604,sh,11/22/2017,t0037891,Rent Change,11/22/2017,AC1053,11/22/2017,NaN,NaN,11/30/2017,...,NaN,0,0,6,1060.00,0.00,0.0,NaN,NaN,0.0
1624,mpg,11/26/2017,t0037902,Rent Change,11/26/2017,1968-03A,11/25/2017,NaN,NaN,12/2/2017,...,NaN,0,0,6,1050.00,0.00,0.0,NaN,NaN,NaN
1716,sh,5/22/2018,t0036886,Rent Change,5/22/2018,TT1174,4/23/2018,4/23/2018,4/24/2018,5/15/2018,...,NaN,0,0,0,1350.00,99.00,0.0,NaN,NaN,0.0
1909,sh,5/30/2017,t0032853,Rent Change,5/30/2017,TH5981,4/21/2017,4/26/2017,5/3/2017,5/30/2017,...,NaN,0,0,2,735.00,99.00,0.0,NaN,NaN,0.0
1921,sh,5/30/2017,t0032894,Rent Change,5/30/2017,AC1099,5/30/2017,5/30/2017,NaN,7/31/2017,...,NaN,0,0,6,1195.00,99.00,0.0,NaN,NaN,0.0
1942,sh,5/30/2017,t0033124,Rent Change,5/30/2017,TT1199,5/30/2017,NaN,NaN,7/10/2017,...,NaN,0,0,6,995.00,0.00,0.0,NaN,NaN,0.0

In [112]:
sh = tenants_df.loc[tenants_df["Property_Code"] == "sh"]
sh_rent = sh.loc[sh["Event"] == "Rent Change"]
sh_rent.head(25)

,Property_Code,Date,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
76,sh,11/28/2016,t0031330,Rent Change,11/28/2016,TT1211,11/14/2016,11/18/2016,11/19/2016,11/28/2016,...,NaN,0,0,2,995.0,22.5,0.0,NaN,NaN,0.0
459,sh,10/16/2018,t0040974,Rent Change,10/16/2018,WC5970G,10/15/2018,10/16/2018,NaN,10/17/2018,...,NaN,0,0,6,675.0,0.0,0.0,NaN,NaN,0.0
881,sh,8/3/2018,t0040449,Rent Change,8/3/2018,WAIT-3TA,8/2/2018,NaN,NaN,9/1/2018,...,NaN,0,0,6,735.0,0.0,0.0,NaN,NaN,0.0
908,sh,8/3/2018,t0040386,Rent Change,8/3/2018,WAIT-2TH,7/26/2018,7/27/2018,NaN,8/24/2018,...,NaN,0,0,6,709.0,0.0,0.0,NaN,NaN,0.0
921,sh,8/3/2018,t0043967,Rent Change,8/3/2018,FT5906D,8/3/2018,NaN,NaN,9/17/2018,...,NaN,0,0,6,650.0,0.0,0.0,NaN,NaN,NaN
960,sh,8/3/2018,t0040434,Rent Change,8/3/2018,WAIT-2TH,7/31/2018,8/1/2018,NaN,8/31/2018,...,NaN,0,0,6,709.0,0.0,0.0,NaN,NaN,0.0
962,sh,8/3/2018,t0040386,Rent Change,8/3/2018,AC1115,7/26/2018,7/27/2018,NaN,8/24/2018,...,NaN,0,0,6,1175.0,0.0,0.0,NaN,NaN,0.0
967,sh,8/3/2018,t0040442,Rent Change,8/3/2018,WC5933G,8/2/2018,8/3/2018,NaN,9/7/2018,...,NaN,0,0,6,715.0,0.0,0.0,NaN,NaN,0.0
970,sh,8/3/2018,t0043839,Rent Change,8/3/2018,WC5950E,8/1/2018,NaN,NaN,9/5/2018,...,NaN,0,0,6,720.0,0.0,0.0,NaN,NaN,NaN
977,sh,8/3/2018,t0039622,Rent Change,8/3/2018,WAIT,6/14/2018,6/15/2018,NaN,9/30/2018,...,NaN,0,0,6,0.0,-50.0,0.0,NaN,NaN,0.0
1003,sh,8/3/2018,t0040188,Rent Change,8/3/2018,WC5970I,6/24/2018,6/25/2018,7/27/2018,8/10/2018,...,NaN,0,0,2,675.0,99.0,0.0,NaN,NaN,0.0
1007,sh,8/3/2018,t0040371,Rent Change,8/3/2018,SH5817,7/23/2018,7/23/2018,NaN,8/3/2018,...,NaN,0,0,6,800.0,99.0,0.0,NaN,NaN,0.0
1015,sh,8/4/2018,t0040444,Rent Change,8/4/2018,FT5892F,8/2/2018,8/3/2018,NaN,8/31/2018,...,NaN,0,0,6,685.0,0.0,0.0,NaN,NaN,0.0
1259,sh,7/10/2018,t0040228,Rent Change,7/10/2018,FT5880I,6/29/2018,6/29/2018,7/3/2018,7/20/2018,...,NaN,0,0,2,685.0,99.0,0.0,NaN,NaN,0.0
1382,sh,7/11/2018,t0040293,Rent Change,7/11/2018,WC5946D,7/11/2018,NaN,NaN,8/1/2018,...,NaN,0,0,6,720.0,0.0,0.0,NaN,NaN,0.0
1384,sh,7/11/2018,t0040171,Rent Change,7/11/2018,TH5916,6/22/2018,6/22/2018,NaN,9/10/2018,...,NaN,0,0,6,900.0,99.0,0.0,NaN,NaN,0.0
1390,sh,11/17/2017,t0037866,Rent Change,11/17/2017,WC5956G,11/17/2017,NaN,NaN,12/10/2017,...,NaN,0,0,6,675.0,0.0,0.0,NaN,NaN,0.0
1396,sh,11/17/2017,t0036328,Rent Change,11/17/2017,AC1053,9/16/2017,9/18/2017,10/9/2017,11/22/2017,...,NaN,0,0,2,1060.0,99.0,0.0,NaN,NaN,0.0
1434,sh,11/18/2017,t0037836,Rent Change,11/18/2017,TH5827,11/10/2017,11/14/2017,NaN,12/22/2017,...,NaN,0,0,6,890.0,0.0,0.0,NaN,NaN,0.0
1599,sh,11/22/2017,t0037855,Rent Change,11/22/2017,WC5956H,11/15/2017,11/21/2017,NaN,1/18/2018,...,NaN,0,0,6,675.0,0.0,0.0,NaN,NaN,0.0
1604,sh,11/22/2017,t0037891,Rent Change,11/22/2017,AC1053,11/22/2017,NaN,NaN,11/30/2017,...,NaN,0,0,6,1060.0,0.0,0.0,NaN,NaN,0.0
1716,sh,5/22/2018,t0036886,Rent Change,5/22/2018,TT1174,4/23/2018,4/23/2018,4/24/2018,5/15/2018,...,NaN,0,0,0,1350.0,99.0,0.0,NaN,NaN,0.0
1909,sh,5/30/2017,t0032853,Rent Change,5/30/2017,TH5981,4/21/2017,4/26/2017,5/3/2017,5/30/2017,...,NaN,0,0,2,735.0,99.0,0.0,NaN,NaN,0.0
1921,sh,5/30/2017,t0032894,Rent Change,5/30/2017,AC1099,5/30/2017,5/30/2017,NaN,7/31/2017,...,NaN,0,0,6,1195.0,99.0,0.0,NaN,NaN,0.0
1942,sh,5/30/2017,t0033124,Rent Change,5/30/2017,TT1199,5/30/2017,NaN,NaN,7/10/2017,...,NaN,0,0,6,995.0,0.0,0.0,NaN,NaN,0.0

In [123]:
sh_rent = sh_rent.dropna(subset = ["DateMoveOut"])
moveout.head(25)

,Property_Code,Date,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,...,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Newdate
2046,sh,5/31/2017,t0029064,Rent Change,5/31/2017,FT5833,4/6/2016,4/7/2016,4/15/2016,4/15/2016,...,0,0,4,1020.0,99.0,0.0,NaN,NaN,0.0,20170531
2063,sh,5/31/2017,t0029596,Rent Change,5/31/2017,TT1179,5/26/2016,5/26/2016,5/27/2016,5/28/2016,...,0,0,4,1008.0,99.0,0.0,NaN,NaN,0.0,20170531
11760,sh,9/30/2015,t0017586,Rent Change,9/30/2015,AC1064,8/9/2013,NaN,8/9/2013,8/9/2013,...,0,0,4,990.0,99.0,0.0,NaN,NaN,0.0,20150930
12350,sh,2/28/2014,t0017762,Rent Change,2/28/2014,FT5892E,3/8/2013,NaN,3/8/2013,3/8/2013,...,0,0,4,1099.0,99.0,0.0,NaN,NaN,0.0,20140228
12357,sh,2/28/2014,t0017387,Rent Change,2/28/2014,SH5936,12/1/2013,NaN,12/1/2013,10/5/2012,...,0,0,0,646.0,99.0,0.0,NaN,NaN,0.0,20140228
21981,sh,6/30/2016,t0025716,Rent Change,6/30/2016,WC5933C,7/16/2015,7/16/2015,7/17/2015,7/31/2015,...,0,0,4,0.0,628.0,0.0,NaN,NaN,0.0,20160630
22856,sh,8/1/2014,t0017403,Rent Change,8/1/2014,TH5979,8/1/2013,NaN,8/1/2013,7/31/2012,...,0,0,4,700.0,99.0,0.0,NaN,NaN,-1.0,20140801
23178,sh,7/14/2016,t0025716,Rent Change,7/14/2016,WC5933C,7/16/2015,7/16/2015,7/17/2015,7/31/2015,...,0,0,4,628.0,628.0,0.0,NaN,NaN,0.0,20160714
25885,sh,8/23/2016,t0025813,Rent Change,8/23/2016,WC5970J,7/30/2015,7/30/2015,8/6/2015,8/7/2015,...,0,0,4,607.0,99.0,0.0,NaN,NaN,-1.0,20160823
27182,sh,9/30/2016,t0019808,Rent Change,9/30/2016,WC5960L,3/21/2014,3/21/2014,4/10/2014,4/25/2014,...,0,0,4,641.0,99.0,0.0,NaN,NaN,0.0,20160930
48715,sh,7/31/2018,t0040340,Rent Change,7/31/2018,SH5842,7/28/2017,7/28/2017,7/31/2017,7/31/2017,...,0,0,4,759.0,709.0,0.0,NaN,NaN,0.0,20180731
52765,sh,12/31/2016,t0026752,Rent Change,12/31/2016,FT5789,10/10/2015,1/7/2016,1/15/2016,1/15/2016,...,0,0,4,1007.0,99.0,0.0,NaN,NaN,NaN,20161231
53061,sh,3/31/2017,t0024564,Rent Change,3/31/2017,WC5950H,1/28/2015,1/28/2015,1/31/2015,1/31/2015,...,0,0,4,0.0,99.0,0.0,NaN,NaN,0.0,20170331
61064,sh,4/30/2017,t0024658,Rent Change,4/30/2017,TT1178,2/13/2015,2/13/2015,2/23/2015,2/28/2015,...,0,0,4,1023.0,99.0,0.0,NaN,NaN,0.0,20170430
61323,sh,2/28/2017,t0024564,Rent Change,2/28/2017,WC5950H,1/28/2015,1/28/2015,1/31/2015,1/31/2015,...,0,0,4,665.0,99.0,0.0,NaN,NaN,0.0,20170228
63773,sh,8/31/2017,t0030319,Rent Change,8/31/2017,SH5900,7/29/2016,7/30/2016,8/4/2016,9/15/2016,...,0,0,4,719.0,99.0,0.0,NaN,NaN,0.0,20170831
66496,sh,6/12/2018,t0032387,Rent Change,6/12/2018,SH5908,2/20/2017,2/21/2017,3/3/2017,3/17/2017,...,0,0,3,745.0,99.0,0.0,NaN,NaN,0.0,20180612
67724,sh,12/31/2017,t0031687,Rent Change,12/31/2017,FT5906K,1/3/2017,1/3/2017,1/6/2017,1/12/2017,...,0,0,4,619.0,99.0,0.0,NaN,NaN,0.0,20171231

In [124]:
#sh_rent['DateOccurred'] = sh_rent['DateOccured'].astype('datetime64[ns]')
new = sh_rent["DateOccurred"].str.split("/", n = 3, expand = True)
month =[]
day = []
year = []
for x in new[0]:
    if len(x) < 2:
        x = str("0")+str(x)
    month.append(x)
for x in new[1]:
    if len(x) < 2:
        x = str("0")+str(x)
    day.append(x)
for x in new[2]:
    year.append(x)
newdate =[]
for x in range(len(day)):
    newdate.append(year[x]+month[x]+day[x])
sh_rent["Newdate"] = newdate
sh_rent["Newdate"]
sortedsh=sh_rent.sort_values(["Unit_Code","Newdate"])
sortedsh

,Property_Code,Date,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,...,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Newdate
11760,sh,9/30/2015,t0017586,Rent Change,9/30/2015,AC1064,8/9/2013,NaN,8/9/2013,8/9/2013,...,0,0,4,990.0,99.0,0.0,NaN,NaN,0.0,20150930
52765,sh,12/31/2016,t0026752,Rent Change,12/31/2016,FT5789,10/10/2015,1/7/2016,1/15/2016,1/15/2016,...,0,0,4,1007.0,99.0,0.0,NaN,NaN,NaN,20161231
2046,sh,5/31/2017,t0029064,Rent Change,5/31/2017,FT5833,4/6/2016,4/7/2016,4/15/2016,4/15/2016,...,0,0,4,1020.0,99.0,0.0,NaN,NaN,0.0,20170531
12350,sh,2/28/2014,t0017762,Rent Change,2/28/2014,FT5892E,3/8/2013,NaN,3/8/2013,3/8/2013,...,0,0,4,1099.0,99.0,0.0,NaN,NaN,0.0,20140228
67724,sh,12/31/2017,t0031687,Rent Change,12/31/2017,FT5906K,1/3/2017,1/3/2017,1/6/2017,1/12/2017,...,0,0,4,619.0,99.0,0.0,NaN,NaN,0.0,20171231
48715,sh,7/31/2018,t0040340,Rent Change,7/31/2018,SH5842,7/28/2017,7/28/2017,7/31/2017,7/31/2017,...,0,0,4,759.0,709.0,0.0,NaN,NaN,0.0,20180731
63773,sh,8/31/2017,t0030319,Rent Change,8/31/2017,SH5900,7/29/2016,7/30/2016,8/4/2016,9/15/2016,...,0,0,4,719.0,99.0,0.0,NaN,NaN,0.0,20170831
66496,sh,6/12/2018,t0032387,Rent Change,6/12/2018,SH5908,2/20/2017,2/21/2017,3/3/2017,3/17/2017,...,0,0,3,745.0,99.0,0.0,NaN,NaN,0.0,20180612
12357,sh,2/28/2014,t0017387,Rent Change,2/28/2014,SH5936,12/1/2013,NaN,12/1/2013,10/5/2012,...,0,0,0,646.0,99.0,0.0,NaN,NaN,0.0,20140228
22856,sh,8/1/2014,t0017403,Rent Change,8/1/2014,TH5979,8/1/2013,NaN,8/1/2013,7/31/2012,...,0,0,4,700.0,99.0,0.0,NaN,NaN,-1.0,20140801
61064,sh,4/30/2017,t0024658,Rent Change,4/30/2017,TT1178,2/13/2015,2/13/2015,2/23/2015,2/28/2015,...,0,0,4,1023.0,99.0,0.0,NaN,NaN,0.0,20170430
2063,sh,5/31/2017,t0029596,Rent Change,5/31/2017,TT1179,5/26/2016,5/26/2016,5/27/2016,5/28/2016,...,0,0,4,1008.0,99.0,0.0,NaN,NaN,0.0,20170531
21981,sh,6/30/2016,t0025716,Rent Change,6/30/2016,WC5933C,7/16/2015,7/16/2015,7/17/2015,7/31/2015,...,0,0,4,0.0,628.0,0.0,NaN,NaN,0.0,20160630
23178,sh,7/14/2016,t0025716,Rent Change,7/14/2016,WC5933C,7/16/2015,7/16/2015,7/17/2015,7/31/2015,...,0,0,4,628.0,628.0,0.0,NaN,NaN,0.0,20160714
61323,sh,2/28/2017,t0024564,Rent Change,2/28/2017,WC5950H,1/28/2015,1/28/2015,1/31/2015,1/31/2015,...,0,0,4,665.0,99.0,0.0,NaN,NaN,0.0,20170228
53061,sh,3/31/2017,t0024564,Rent Change,3/31/2017,WC5950H,1/28/2015,1/28/2015,1/31/2015,1/31/2015,...,0,0,4,0.0,99.0,0.0,NaN,NaN,0.0,20170331
27182,sh,9/30/2016,t0019808,Rent Change,9/30/2016,WC5960L,3/21/2014,3/21/2014,4/10/2014,4/25/2014,...,0,0,4,641.0,99.0,0.0,NaN,NaN,0.0,20160930
25885,sh,8/23/2016,t0025813,Rent Change,8/23/2016,WC5970J,7/30/2015,7/30/2015,8/6/2015,8/7/2015,...,0,0,4,607.0,99.0,0.0,NaN,NaN,-1.0,20160823

In [125]:
r = []
chrent = []
lrent = []
for x in range(len(sortedsh)):
    unitcode = sortedsh["Unit_Code"].iloc[x]
    prevunit = sortedsh["Unit_Code"].iloc[x-1]
    if unitcode==prevunit:
        rent = sortedsh["Rent"].iloc[x]
        prevrent = sortedsh["Rent"].iloc[x-1]
        changerent = rent-prevrent
        chrent.append(changerent)
    else:
        chrent.append(0)
sortedsh["chrent"]=chrent
sortedsh["DateMoveOut"]

11760    11/30/2015
52765     2/13/2017
2046      7/29/2017
12350      4/1/2014
67724     2/11/2018
48715      9/3/2018
63773    10/18/2017
66496     7/31/2018
12357     5/31/2014
22856     9/21/2014
61064     6/30/2017
2063      7/27/2017
21981     8/31/2016
23178     8/31/2016
61323     5/31/2017
53061     5/31/2017
27182    11/30/2016
25885     8/31/2016
Name: DateMoveOut, dtype: object

In [126]:
#sortedsh["Rent"].iloc[0]
sortedsh['DateMoveOut']

11760    11/30/2015
52765     2/13/2017
2046      7/29/2017
12350      4/1/2014
67724     2/11/2018
48715      9/3/2018
63773    10/18/2017
66496     7/31/2018
12357     5/31/2014
22856     9/21/2014
61064     6/30/2017
2063      7/27/2017
21981     8/31/2016
23178     8/31/2016
61323     5/31/2017
53061     5/31/2017
27182    11/30/2016
25885     8/31/2016
Name: DateMoveOut, dtype: object

In [136]:
df=sortedsh
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y', utc=False)
df['Date']

11760   2015-09-30
52765   2016-12-31
2046    2017-05-31
12350   2014-02-28
67724   2017-12-31
48715   2018-07-31
63773   2017-08-31
66496   2018-06-12
12357   2014-02-28
22856   2014-08-01
61064   2017-04-30
2063    2017-05-31
21981   2016-06-30
23178   2016-07-14
61323   2017-02-28
53061   2017-03-31
27182   2016-09-30
25885   2016-08-23
Name: Date, dtype: datetime64[ns]

In [137]:
df= df.set_index(df['Date'])

In [138]:
df

,Property_Code,Date,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,...,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Newdate,chrent
Date,,,,,,,,,,,,,,,,,,,,,
2015-09-30,sh,2015-09-30,t0017586,Rent Change,9/30/2015,AC1064,8/9/2013,NaN,8/9/2013,8/9/2013,...,0,4,990.0,99.0,0.0,NaN,NaN,0.0,20150930,0.0
2016-12-31,sh,2016-12-31,t0026752,Rent Change,12/31/2016,FT5789,10/10/2015,1/7/2016,1/15/2016,1/15/2016,...,0,4,1007.0,99.0,0.0,NaN,NaN,NaN,20161231,0.0
2017-05-31,sh,2017-05-31,t0029064,Rent Change,5/31/2017,FT5833,4/6/2016,4/7/2016,4/15/2016,4/15/2016,...,0,4,1020.0,99.0,0.0,NaN,NaN,0.0,20170531,0.0
2014-02-28,sh,2014-02-28,t0017762,Rent Change,2/28/2014,FT5892E,3/8/2013,NaN,3/8/2013,3/8/2013,...,0,4,1099.0,99.0,0.0,NaN,NaN,0.0,20140228,0.0
2017-12-31,sh,2017-12-31,t0031687,Rent Change,12/31/2017,FT5906K,1/3/2017,1/3/2017,1/6/2017,1/12/2017,...,0,4,619.0,99.0,0.0,NaN,NaN,0.0,20171231,0.0
2018-07-31,sh,2018-07-31,t0040340,Rent Change,7/31/2018,SH5842,7/28/2017,7/28/2017,7/31/2017,7/31/2017,...,0,4,759.0,709.0,0.0,NaN,NaN,0.0,20180731,0.0
2017-08-31,sh,2017-08-31,t0030319,Rent Change,8/31/2017,SH5900,7/29/2016,7/30/2016,8/4/2016,9/15/2016,...,0,4,719.0,99.0,0.0,NaN,NaN,0.0,20170831,0.0
2018-06-12,sh,2018-06-12,t0032387,Rent Change,6/12/2018,SH5908,2/20/2017,2/21/2017,3/3/2017,3/17/2017,...,0,3,745.0,99.0,0.0,NaN,NaN,0.0,20180612,0.0
2014-02-28,sh,2014-02-28,t0017387,Rent Change,2/28/2014,SH5936,12/1/2013,NaN,12/1/2013,10/5/2012,...,0,0,646.0,99.0,0.0,NaN,NaN,0.0,20140228,0.0
2014-08-01,sh,2014-08-01,t0017403,Rent Change,8/1/2014,TH5979,8/1/2013,NaN,8/1/2013,7/31/2012,...,0,4,700.0,99.0,0.0,NaN,NaN,-1.0,20140801,0.0
2017-04-30,sh,2017-04-30,t0024658,Rent Change,4/30/2017,TT1178,2/13/2015,2/13/2015,2/23/2015,2/28/2015,...,0,4,1023.0,99.0,0.0,NaN,NaN,0.0,20170430,0.0
2017-05-31,sh,2017-05-31,t0029596,Rent Change,5/31/2017,TT1179,5/26/2016,5/26/2016,5/27/2016,5/28/2016,...,0,4,1008.0,99.0,0.0,NaN,NaN,0.0,20170531,0.0
2016-06-30,sh,2016-06-30,t0025716,Rent Change,6/30/2016,WC5933C,7/16/2015,7/16/2015,7/17/2015,7/31/2015,...,0,4,0.0,628.0,0.0,NaN,NaN,0.0,20160630,0.0
2016-07-14,sh,2016-07-14,t0025716,Rent Change,7/14/2016,WC5933C,7/16/2015,7/16/2015,7/17/2015,7/31/2015,...,0,4,628.0,628.0,0.0,NaN,NaN,0.0,20160714,628.0
2017-02-28,sh,2017-02-28,t0024564,Rent Change,2/28/2017,WC5950H,1/28/2015,1/28/2015,1/31/2015,1/31/2015,...,0,4,665.0,99.0,0.0,NaN,NaN,0.0,20170228,0.0
2017-03-31,sh,2017-03-31,t0024564,Rent Change,3/31/2017,WC5950H,1/28/2015,1/28/2015,1/31/2015,1/31/2015,...,0,4,0.0,99.0,0.0,NaN,NaN,0.0,20170331,-665.0
2016-09-30,sh,2016-09-30,t0019808,Rent Change,9/30/2016,WC5960L,3/21/2014,3/21/2014,4/10/2014,4/25/2014,...,0,4,641.0,99.0,0.0,NaN,NaN,0.0,20160930,0.0
2016-08-23,sh,2016-08-23,t0025813,Rent Change,8/23/2016,WC5970J,7/30/2015,7/30/2015,8/6/2015,8/7/2015,...,0,4,607.0,99.0,0.0,NaN,NaN,-1.0,20160823,0.0

In [139]:
df['week_start'] = df.index.to_period('W').start_time

In [140]:
df['week_start']

Date
2015-09-30   2015-09-28
2016-12-31   2016-12-26
2017-05-31   2017-05-29
2014-02-28   2014-02-24
2017-12-31   2017-12-25
2018-07-31   2018-07-30
2017-08-31   2017-08-28
2018-06-12   2018-06-11
2014-02-28   2014-02-24
2014-08-01   2014-07-28
2017-04-30   2017-04-24
2017-05-31   2017-05-29
2016-06-30   2016-06-27
2016-07-14   2016-07-11
2017-02-28   2017-02-27
2017-03-31   2017-03-27
2016-09-30   2016-09-26
2016-08-23   2016-08-22
Name: week_start, dtype: datetime64[ns]

In [141]:
df.columns

Index(['Property_Code', 'Date', 'Tenant_Code', 'Event', 'DateOccurred',
       'Unit_Code', 'DateApply', 'DateApprove', 'DateSign', 'DateMoveIn',
       'DateMoveOut', 'DateLeaseFrom', 'DateLeaseTo', 'DateNotice',
       'RentedEvent', 'UnRentedEvent', 'Status', 'Rent', 'Deposit', 'Sqft',
       'Notes', 'Reason', 'MTM', 'Newdate', 'chrent', 'week_start'],
      dtype='object')

In [142]:
df['DateMoveOut'] = pd.to_datetime(df['DateMoveOut'], format='%m/%d/%Y', utc=False)

In [143]:
df['DaysOccupied'] = df['DateMoveOut'] - df["Date"]

In [144]:
df['DateMoveOut']

Date
2015-09-30   2015-11-30
2016-12-31   2017-02-13
2017-05-31   2017-07-29
2014-02-28   2014-04-01
2017-12-31   2018-02-11
2018-07-31   2018-09-03
2017-08-31   2017-10-18
2018-06-12   2018-07-31
2014-02-28   2014-05-31
2014-08-01   2014-09-21
2017-04-30   2017-06-30
2017-05-31   2017-07-27
2016-06-30   2016-08-31
2016-07-14   2016-08-31
2017-02-28   2017-05-31
2017-03-31   2017-05-31
2016-09-30   2016-11-30
2016-08-23   2016-08-31
Name: DateMoveOut, dtype: datetime64[ns]

In [145]:
df

,Property_Code,Date,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,...,Rent,Deposit,Sqft,Notes,Reason,MTM,Newdate,chrent,week_start,DaysOccupied
Date,,,,,,,,,,,,,,,,,,,,,
2015-09-30,sh,2015-09-30,t0017586,Rent Change,9/30/2015,AC1064,8/9/2013,NaN,8/9/2013,8/9/2013,...,990.0,99.0,0.0,NaN,NaN,0.0,20150930,0.0,2015-09-28,61 days
2016-12-31,sh,2016-12-31,t0026752,Rent Change,12/31/2016,FT5789,10/10/2015,1/7/2016,1/15/2016,1/15/2016,...,1007.0,99.0,0.0,NaN,NaN,NaN,20161231,0.0,2016-12-26,44 days
2017-05-31,sh,2017-05-31,t0029064,Rent Change,5/31/2017,FT5833,4/6/2016,4/7/2016,4/15/2016,4/15/2016,...,1020.0,99.0,0.0,NaN,NaN,0.0,20170531,0.0,2017-05-29,59 days
2014-02-28,sh,2014-02-28,t0017762,Rent Change,2/28/2014,FT5892E,3/8/2013,NaN,3/8/2013,3/8/2013,...,1099.0,99.0,0.0,NaN,NaN,0.0,20140228,0.0,2014-02-24,32 days
2017-12-31,sh,2017-12-31,t0031687,Rent Change,12/31/2017,FT5906K,1/3/2017,1/3/2017,1/6/2017,1/12/2017,...,619.0,99.0,0.0,NaN,NaN,0.0,20171231,0.0,2017-12-25,42 days
2018-07-31,sh,2018-07-31,t0040340,Rent Change,7/31/2018,SH5842,7/28/2017,7/28/2017,7/31/2017,7/31/2017,...,759.0,709.0,0.0,NaN,NaN,0.0,20180731,0.0,2018-07-30,34 days
2017-08-31,sh,2017-08-31,t0030319,Rent Change,8/31/2017,SH5900,7/29/2016,7/30/2016,8/4/2016,9/15/2016,...,719.0,99.0,0.0,NaN,NaN,0.0,20170831,0.0,2017-08-28,48 days
2018-06-12,sh,2018-06-12,t0032387,Rent Change,6/12/2018,SH5908,2/20/2017,2/21/2017,3/3/2017,3/17/2017,...,745.0,99.0,0.0,NaN,NaN,0.0,20180612,0.0,2018-06-11,49 days
2014-02-28,sh,2014-02-28,t0017387,Rent Change,2/28/2014,SH5936,12/1/2013,NaN,12/1/2013,10/5/2012,...,646.0,99.0,0.0,NaN,NaN,0.0,20140228,0.0,2014-02-24,92 days
2014-08-01,sh,2014-08-01,t0017403,Rent Change,8/1/2014,TH5979,8/1/2013,NaN,8/1/2013,7/31/2012,...,700.0,99.0,0.0,NaN,NaN,-1.0,20140801,0.0,2014-07-28,51 days
2017-04-30,sh,2017-04-30,t0024658,Rent Change,4/30/2017,TT1178,2/13/2015,2/13/2015,2/23/2015,2/28/2015,...,1023.0,99.0,0.0,NaN,NaN,0.0,20170430,0.0,2017-04-24,61 days
2017-05-31,sh,2017-05-31,t0029596,Rent Change,5/31/2017,TT1179,5/26/2016,5/26/2016,5/27/2016,5/28/2016,...,1008.0,99.0,0.0,NaN,NaN,0.0,20170531,0.0,2017-05-29,57 days
2016-06-30,sh,2016-06-30,t0025716,Rent Change,6/30/2016,WC5933C,7/16/2015,7/16/2015,7/17/2015,7/31/2015,...,0.0,628.0,0.0,NaN,NaN,0.0,20160630,0.0,2016-06-27,62 days
2016-07-14,sh,2016-07-14,t0025716,Rent Change,7/14/2016,WC5933C,7/16/2015,7/16/2015,7/17/2015,7/31/2015,...,628.0,628.0,0.0,NaN,NaN,0.0,20160714,628.0,2016-07-11,48 days
2017-02-28,sh,2017-02-28,t0024564,Rent Change,2/28/2017,WC5950H,1/28/2015,1/28/2015,1/31/2015,1/31/2015,...,665.0,99.0,0.0,NaN,NaN,0.0,20170228,0.0,2017-02-27,92 days
2017-03-31,sh,2017-03-31,t0024564,Rent Change,3/31/2017,WC5950H,1/28/2015,1/28/2015,1/31/2015,1/31/2015,...,0.0,99.0,0.0,NaN,NaN,0.0,20170331,-665.0,2017-03-27,61 days
2016-09-30,sh,2016-09-30,t0019808,Rent Change,9/30/2016,WC5960L,3/21/2014,3/21/2014,4/10/2014,4/25/2014,...,641.0,99.0,0.0,NaN,NaN,0.0,20160930,0.0,2016-09-26,61 days
2016-08-23,sh,2016-08-23,t0025813,Rent Change,8/23/2016,WC5970J,7/30/2015,7/30/2015,8/6/2015,8/7/2015,...,607.0,99.0,0.0,NaN,NaN,-1.0,20160823,0.0,2016-08-22,8 days