In [80]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime as dt

In [64]:
tenants = "Tenant_History.csv"
tenants_df = pd.read_csv(tenants)
tenants_df.head()

C:\Users\Jung\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
0,mpg,NaN,1/9/2019,t0034325,NaN,Notice Given,1/9/2019,2024-02A,NaN,3/15/2017,...,1/9/2019,0,0,4,1499.0,0.0,0.0,Moved Out Of State,Moved Out Of State,0.0
1,sh,NaN,1/9/2019,t0030792,NaN,Notice Given,1/9/2019,TT1177,NaN,9/6/2016,...,1/9/2019,0,0,4,1075.0,99.0,0.0,Job Transfer,Job Transfer,0.0
2,ce,NaN,1/8/2019,t0041476,NaN,Notice Given,1/8/2019,S1456M,NaN,1/11/2017,...,1/8/2019,0,0,4,723.0,99.0,0.0,Posted by Unit Transfer,Transfer within Community,0.0
3,ce,NaN,1/8/2019,t0041476,NaN,Transfer Unit (To S1500-2D from S1456M),1/8/2019,S1456M,NaN,1/11/2017,...,1/8/2019,0,0,4,723.0,99.0,0.0,NaN,Transfer within Community,0.0
4,mpg,NaN,1/8/2019,t0040764,NaN,Eviction,1/8/2019,2006-02A,NaN,9/17/2018,...,1/8/2019,0,0,3,1649.0,99.0,0.0,Eviction,Eviction,0.0

In [65]:
tenants_df = tenants_df.drop(columns = ["Ref_Property_ID", "Ext_Ref_Tenant_Id", "Ref_Unit_Id", "Date"])

In [66]:
tenants_df["DateOccurred"] = pd.to_datetime(tenants_df["DateOccurred"], format= '%m/%d/%Y')
tenants_df["DateApply"] = pd.to_datetime(tenants_df["DateApply"], format= '%m/%d/%Y')
tenants_df["DateApprove"] = pd.to_datetime(tenants_df["DateApprove"], format= '%m/%d/%Y')
tenants_df["DateSign"] = pd.to_datetime(tenants_df["DateSign"], format= '%m/%d/%Y')
tenants_df["DateMoveIn"] = pd.to_datetime(tenants_df["DateMoveIn"], format= '%m/%d/%Y')
tenants_df["DateMoveOut"] = pd.to_datetime(tenants_df["DateMoveOut"], format= '%m/%d/%Y')
tenants_df["DateLeaseFrom"] = pd.to_datetime(tenants_df["DateLeaseFrom"], format= '%m/%d/%Y')
tenants_df["DateLeaseTo"] = pd.to_datetime(tenants_df["DateLeaseTo"], format= '%m/%d/%Y')
tenants_df["DateNotice"] = pd.to_datetime(tenants_df["DateNotice"], format= '%m/%d/%Y')
tenants_df["Length of Stay"]= tenants_df["DateMoveOut"] - tenants_df["DateMoveIn"]
tenants_df.sort_values(by=["Unit_Code"])

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,DateMoveOut,...,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Length of Stay
76919,fh,t0033675,Email,2018-10-08,1014A,NaT,NaT,NaT,2017-06-30,NaT,...,0,0,0,0.0,0.0,0.0,NaN,NaN,0.0,NaT
54420,fh,t0033675,Deposit Change,2017-08-01,1014A,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,850.0,150.0,0.0,NaN,NaN,0.0,NaT
53677,fh,t0033675,Deposit Change,2017-08-01,1014A,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,850.0,300.0,0.0,NaN,NaN,0.0,NaT
53362,fh,t0033675,Deposit Change,2017-08-01,1014A,NaT,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,850.0,150.0,0.0,NaN,NaN,0.0,NaT
21062,fh,t0033675,Rent Change,2018-06-30,1014A,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,950.0,150.0,0.0,NaN,NaN,0.0,NaT
86915,fh,t0033675,Lease Renewal,2018-04-25,1014A,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,950.0,150.0,0.0,NaN,NaN,0.0,NaT
74892,fh,t0040600,Application Canceled,2018-08-24,1014B,2018-08-22,NaT,NaT,NaT,NaT,...,0,0,7,984.0,0.0,0.0,NaN,Changed Mind,0.0,NaT
57936,fh,t0034067,Deposit Accounting,2017-09-14,1014B,2017-08-31,NaT,NaT,NaT,NaT,...,0,0,7,850.0,0.0,0.0,Deposit Accounting,NaN,0.0,NaT
3375,fh,t0033676,Deposit Accounting,2018-07-03,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,2018-06-30,...,0,0,1,900.0,0.0,0.0,Deposit Accounting,NaN,0.0,659 days
54419,fh,t0033676,Deposit Change,2017-08-01,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,NaT,...,0,0,0,875.0,300.0,0.0,NaN,NaN,0.0,NaT
55143,fh,t0033676,Rent Change,2018-01-31,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,NaT,...,0,0,0,900.0,300.0,0.0,NaN,NaN,0.0,NaT
70741,fh,t0033676,Rent Change,2017-12-31,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,NaT,...,0,0,0,888.0,300.0,0.0,NaN,NaN,0.0,NaT
88075,fh,t0041459,Lease Signed,2019-01-08,1014B,2019-01-04,2019-01-07,2019-01-08,2019-01-15,NaT,...,0,0,2,975.0,0.0,0.0,NaN,NaN,0.0,NaT
82595,fh,t0041103,Submit Application,2018-10-29,1014B,2018-10-29,NaT,NaT,2019-01-03,NaT,...,0,0,6,984.0,0.0,0.0,NaN,NaN,0.0,NaT
70372,fh,t0033676,Lease Renewal,2017-11-07,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,NaT,...,0,0,0,900.0,300.0,0.0,NaN,NaN,0.0,NaT
20713,fh,t0040392,Adjust Move In Dates,2018-08-02,1014B,2018-07-26,2018-08-02,2018-08-02,2018-08-11,NaT,...,0,0,2,984.0,99.0,0.0,NaN,NaN,0.0,NaT
20712,fh,t0040392,Assign Unit (From 1120A to 1014B),2018-08-02,1014B,2018-07-26,2018-08-02,2018-08-02,2018-08-08,NaT,...,0,0,2,984.0,99.0,0.0,NaN,NaN,0.0,NaT
20711,fh,t0040392,Rent Change,2018-08-02,1014B,2018-07-26,2018-08-02,2018-08-02,2018-08-08,NaT,...,0,0,2,984.0,99.0,0.0,NaN,NaN,0.0,NaT
64275,fh,t0034067,Deposit Change,2017-08-29,1014B,2017-08-31,NaT,NaT,2018-01-01,NaT,...,0,0,2,850.0,99.0,0.0,NaN,NaN,0.0,NaT
3374,fh,t0033676,Deposit Change,2018-07-03,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,2018-06-30,...,0,0,1,900.0,0.0,0.0,NaN,NaN,0.0,659 days
57934,fh,t0034067,Deposit Change,2017-09-14,1014B,2017-08-31,NaT,NaT,NaT,NaT,...,0,0,7,850.0,150.0,0.0,NaN,NaN,0.0,NaT
69953,fh,t0034067,Cancel Move In,2017-09-06,1014B,2017-08-31,NaT,NaT,NaT,NaT,...,0,-1,7,850.0,99.0,0.0,Moved in with Family,Moved in with Family,0.0,NaT
74630,fh,t0040392,Cancel Move In,2018-08-18,1014B,2018-07-26,2018-08-02,NaT,NaT,NaT,...,0,-1,7,984.0,99.0,0.0,No Contact,No Contact,0.0,NaT
74636,fh,t0040392,Deposit Change,2018-08-18,1014B,2018-07-26,2018-08-02,NaT,NaT,NaT,...,0,0,7,984.0,0.0,0.0,NaN,NaN,0.0,NaT
74637,fh,t0040392,Deposit Accounting,2018-08-18,1014B,2018-07-26,2018-08-02,NaT,NaT,NaT,...,0,0,7,984.0,0.0,0.0,Deposit Accounting,NaN,0.0,NaT
74664,fh,t0040600,Rent Change,2018-08-22,1014B,2018-08-22,NaT,NaT,2018-08-31,NaT,...,0,0,6,984.0,0.0,0.0,NaN,NaN,0.0,NaT
74665,fh,t0040600,Assign Unit (From 1030CB to 1014B),2018-08-22,1014B,2018-08-22,NaT,NaT,2018-08-31,NaT,...,0,0,6,984.0,0.0,0.0,NaN,NaN,0.0,NaT
53363,fh,t0033676,Deposit Change,2017-08-01,1014B,NaT,NaT,2016-09-09,2016-09-09,NaT,...,0,0,0,875.0,300.0,0.0,NaN,NaN,0.0,NaT
57935,fh,t0034067,Deposit Change,2017-09-14,1014B,2017-08-31,NaT,NaT,NaT,NaT,...,0,0,7,850.0,0.0,0.0,NaN,NaN,0.0,NaT
75451,fh,t0040600,Deposit Change,2018-08-28,1014B,2018-08-22,NaT,NaT,NaT,NaT,...,0,0,7,984.0,99.0,0.0,NaN,NaN,0.0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88290,ce,t0040164,NaN,NaT,NaN,NaT,NaT,NaT,2018-08-01,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 161992 has Closed.,NaN,0.0,NaT
88291,ce,t0040164,NaN,NaT,NaN,NaT,NaT,NaT,2018-08-01,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 161992 has Closed.,NaN,0.0,NaT
88294,sh,t0040675,NaN,NaT,NaN,NaT,NaT,NaT,2018-09-24,2019-01-09,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,107 days
88295,sh,t0040675,NaN,NaT,NaN,NaT,NaT,NaT,2018-09-24,2019-01-09,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,107 days
88296,sh,t0040675,NaN,NaT,NaN,NaT,NaT,NaT,2018-09-24,2019-01-09,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,107 days
88297,sh,t0040675,NaN,NaT,NaN,NaT,NaT,NaT,2018-09-24,2019-01-09,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,107 days
88305,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88306,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88307,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88308,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88309,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88310,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88311,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88312,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88313,sh,t0041441,NaN,NaT,NaN,NaT,NaT,NaT,2018-12-30,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 162257 has Closed.,NaN,0.0,NaT
88314,sh,t0041441,NaN,NaT,NaN,NaT,NaT,NaT,2018-12-30,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 162257 has Closed.,NaN,0.0,NaT
88319,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88320,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88321,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88322,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88323,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88324,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88325,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88326,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88331,ce,t0041258,NaN,NaT,NaN,NaT,NaT,NaT,2018-11-24,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 162278 has Closed.,NaN,0.0,NaT
88332,ce,t0041258,NaN,NaT,NaN,NaT,NaT,NaT,2018-11-24,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 162278 has Closed.,NaN,0.0,NaT
88335,mpg,t0034325,NaN,NaT,NaN,NaT,NaT,NaT,2017-04-01,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,729 days
88336,mpg,t0034325,NaN,NaT,NaN,NaT,NaT,NaT,2017-04-01,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,729 days
88339,sh,t0030792,NaN,NaT,NaN,NaT,NaT,NaT,2016-09-30,2019-02-28,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,881 days
88340,sh,t0030792,NaN,NaT,NaN,NaT,NaT,NaT,2016-09-30,2019-02-28,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,881 days

In [69]:
occupancy = tenants_df.sort_values(["DateOccurred", "Tenant_Code"])
occupancy = occupancy.drop(columns = ["DateApply", "DateApprove", "DateSign", "DateLeaseFrom", "DateLeaseTo", "DateNotice", "RentedEvent", "UnRentedEvent", "Status", "Deposit", "Notes", "Reason", "MTM"])
filter = ["Move In", "Move Out", "Rent Change"]
occupancy = occupancy.loc[occupancy["Event"].isin(filter)]
occupancy.reset_index(drop = True)

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay
0,ce,t0013945,Move Out,2013-04-18,S1452B,2011-08-04,2013-04-17,555.0,0.0,622 days
1,ce,t0014232,Rent Change,2013-04-19,S1454A,2013-05-24,NaT,560.0,0.0,NaT
2,ce,t0014238,Move In,2013-04-19,S1452K,2013-04-12,NaT,580.0,0.0,NaT
3,ce,t0014235,Move In,2013-04-22,C0011D,2013-04-13,NaT,630.0,0.0,NaT
4,ce,t0013870,Move Out,2013-04-23,C5303K,2012-08-18,2013-04-21,570.0,0.0,246 days
5,ce,t0013970,Move Out,2013-04-23,S1456D,2011-12-10,2013-04-23,560.0,0.0,500 days
6,ce,t0014247,Move In,2013-04-23,C5254M,2013-04-19,NaT,670.0,0.0,NaT
7,ce,t0013745,Rent Change,2013-04-26,C05266,2006-11-09,NaT,0.0,0.0,NaT
8,ce,t0013747,Rent Change,2013-04-26,C05270,2012-07-16,NaT,0.0,0.0,NaT
9,ce,t0013748,Rent Change,2013-04-26,C05272,2012-09-28,NaT,0.0,0.0,NaT
10,ce,t0013749,Rent Change,2013-04-26,C05274,2008-11-26,NaT,0.0,0.0,NaT
11,ce,t0013750,Rent Change,2013-04-26,C05276,2001-07-21,NaT,0.0,0.0,NaT
12,ce,t0013751,Rent Change,2013-04-26,C05278,2011-09-16,NaT,0.0,0.0,NaT
13,ce,t0013752,Rent Change,2013-04-26,C05280,2010-04-23,NaT,0.0,0.0,NaT
14,ce,t0013753,Rent Change,2013-04-26,C05282,2012-07-14,NaT,0.0,0.0,NaT
15,ce,t0013754,Rent Change,2013-04-26,C05284,1986-11-26,NaT,0.0,0.0,NaT
16,ce,t0013755,Rent Change,2013-04-26,C0003A,2010-07-29,NaT,0.0,0.0,NaT
17,ce,t0013756,Rent Change,2013-04-26,C0003B,2008-09-01,NaT,0.0,0.0,NaT
18,ce,t0013757,Rent Change,2013-04-26,C0003C,2012-08-03,NaT,0.0,0.0,NaT
19,ce,t0013758,Rent Change,2013-04-26,C0003D,2003-10-01,NaT,0.0,0.0,NaT
20,ce,t0013759,Rent Change,2013-04-26,C0003E,2008-06-26,NaT,0.0,0.0,NaT
21,ce,t0013760,Rent Change,2013-04-26,C0003F,2003-09-19,NaT,0.0,0.0,NaT
22,ce,t0013761,Rent Change,2013-04-26,C0003G,2012-10-13,NaT,0.0,0.0,NaT
23,ce,t0013762,Rent Change,2013-04-26,C0003H,2009-12-02,NaT,0.0,0.0,NaT
24,ce,t0013763,Rent Change,2013-04-26,C0003J,2011-11-11,NaT,0.0,0.0,NaT
25,ce,t0013764,Rent Change,2013-04-26,C0003K,2011-08-19,NaT,0.0,0.0,NaT
26,ce,t0013765,Rent Change,2013-04-26,C0003L,2012-08-01,NaT,0.0,0.0,NaT
27,ce,t0013766,Rent Change,2013-04-26,C0003M,2009-04-30,NaT,0.0,0.0,NaT
28,ce,t0013767,Rent Change,2013-04-26,C0007A,2012-05-04,NaT,0.0,0.0,NaT
29,ce,t0013768,Rent Change,2013-04-26,C0007B,2012-06-20,NaT,0.0,0.0,NaT
...,...,...,...,...,...,...,...,...,...,...
13450,sh,t0041423,Rent Change,2019-01-03,WAIT-2B,2019-07-14,NaT,609.0,0.0,NaT
13451,sh,t0041423,Rent Change,2019-01-03,WAIT-2D,2019-07-14,NaT,641.0,0.0,NaT
13452,sh,t0041423,Rent Change,2019-01-03,WAIT-2C,2019-07-14,NaT,620.0,0.0,NaT
13453,sh,t0029079,Move Out,2019-01-04,TH5979,2017-10-10,2019-01-04,735.0,0.0,451 days
13454,ce,t0032880,Move Out,2019-01-04,M0004B,2017-04-26,2019-01-04,932.0,0.0,618 days
13455,sh,t0040328,Move Out,2019-01-04,SH5904,2018-07-20,2019-01-04,775.0,0.0,168 days
13456,fh,t0040878,Move Out,2019-01-04,1030AB,2018-10-05,2019-01-04,1084.0,0.0,91 days
13457,sh,t0041316,Rent Change,2019-01-04,SH5847,2019-01-31,NaT,775.0,0.0,NaT
13458,fh,t0041439,Rent Change,2019-01-04,WAIT2R-1,2019-01-18,NaT,975.0,0.0,NaT
13459,ce,t0041456,Rent Change,2019-01-04,S1456C,2019-02-28,NaT,675.0,0.0,NaT
13460,ce,t0025351,Move Out,2019-01-05,S1458K,2015-06-13,2019-01-05,714.0,0.0,1302 days
13461,ce,t0041315,Rent Change,2019-01-05,S1458K,2019-01-15,NaT,695.0,0.0,NaT
13462,ce,t0041402,Rent Change,2019-01-05,C5322L,2019-01-05,NaT,705.0,0.0,NaT
13463,ce,t0041402,Move In,2019-01-05,C5322L,2019-01-05,NaT,705.0,0.0,NaT
13464,fh,t0041469,Rent Change,2019-01-06,1068D,2019-02-16,NaT,1199.0,0.0,NaT
13465,ce,t0036960,Move Out,2019-01-07,M0015D,2018-05-13,2019-01-07,790.0,0.0,239 days
13466,fh,t0039948,Move Out,2019-01-07,1098E,2018-06-04,2019-01-07,835.0,0.0,217 days
13467,fh,t0041464,Rent Change,2019-01-07,1094D,2019-05-01,NaT,1199.0,0.0,NaT
13468,fh,t0041464,Rent Change,2019-01-07,WAIT2R-2,2019-05-01,NaT,1050.0,0.0,NaT
13469,ce,t0041468,Move In,2019-01-07,C5250A,2019-01-07,NaT,899.0,0.0,NaT
13470,sh,t0052825,Rent Change,2019-01-07,TH5979,2019-02-01,NaT,800.0,0.0,NaT
13471,ce,t0037928,Move Out,2019-01-08,M0036C,2018-01-02,2018-12-31,738.0,0.0,363 days
13472,ce,t0040157,Move Out,2019-01-08,M0010C,2018-07-13,2019-01-08,790.0,0.0,179 days
13473,fh,t0041047,Rent Change,2019-01-08,1084D,2019-02-01,NaT,1199.0,0.0,NaT
13474,sh,t0041158,Rent Change,2019-01-08,WAIT-3TA,2019-01-31,NaT,735.0,0.0,NaT
13475,ce,t0037956,Move Out,2019-01-09,M0013F,2018-01-09,2019-01-09,646.0,0.0,365 days
13476,sh,t0040675,Move Out,2019-01-09,AC1105,2018-09-24,2019-01-09,1175.0,0.0,107 days
13477,fh,t0041006,Rent Change,2019-01-09,1102DB,2019-01-30,NaT,1050.0,0.0,NaT
13478,fh,t0041482,Rent Change,2019-01-09,1034B,2019-01-19,NaT,835.0,0.0,NaT
13479,mpg,t0052899,Rent Change,2019-01-09,1978-10B,2019-01-10,NaT,1294.0,0.0,NaT

In [78]:
def vacancy (row):
    if row["Event"] == "Move Out":
        return "V"
    elif row["Event"] == "Move In":
        return "O"
    else:
        return "O"
    
occupancy ["Occupied?"] = occupancy.apply(vacancy, axis = 1) 
occupancy.head()

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay,Occupied?
18580,ce,t0013945,Move Out,2013-04-18,S1452B,2011-08-04,2013-04-17,555.0,0.0,622 days,V
41222,ce,t0014232,Rent Change,2013-04-19,S1454A,2013-05-24,NaT,560.0,0.0,NaT,O
41257,ce,t0014238,Move In,2013-04-19,S1452K,2013-04-12,NaT,580.0,0.0,NaT,O
41258,ce,t0014235,Move In,2013-04-22,C0011D,2013-04-13,NaT,630.0,0.0,NaT,O
18582,ce,t0013870,Move Out,2013-04-23,C5303K,2012-08-18,2013-04-21,570.0,0.0,246 days,V

In [169]:
year_2013 = occupancy[occupancy["DateOccurred"].dt.year == 2013]
year_2014 = occupancy[occupancy["DateOccurred"].dt.year == 2014]
year_2015 = occupancy[occupancy["DateOccurred"].dt.year == 2015]
year_2016 = occupancy[occupancy["DateOccurred"].dt.year == 2016]
year_2017 = occupancy[occupancy["DateOccurred"].dt.year == 2017]
year_2018 = occupancy[occupancy["DateOccurred"].dt.year == 2018]
idx = pd.period_range(min(year_2013.DateOccurred), max(year_2013.DateOccurred), freq = "1M")

In [174]:
year_2013.set_index(year_2013.DateOccurred, inplace=True)
year_2013.head()

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay,Occupied?
DateOccurred,,,,,,,,,,,
2013-04-18,ce,t0013945,Move Out,2013-04-18,S1452B,2011-08-04,2013-04-17,555.0,0.0,622 days,V
2013-04-19,ce,t0014232,Rent Change,2013-04-19,S1454A,2013-05-24,NaT,560.0,0.0,NaT,O
2013-04-19,ce,t0014238,Move In,2013-04-19,S1452K,2013-04-12,NaT,580.0,0.0,NaT,O
2013-04-22,ce,t0014235,Move In,2013-04-22,C0011D,2013-04-13,NaT,630.0,0.0,NaT,O
2013-04-23,ce,t0013870,Move Out,2013-04-23,C5303K,2012-08-18,2013-04-21,570.0,0.0,246 days,V

In [173]:
indexed_2013 = year_2013.set_index(["Tenant_Code", "Property_Code"])
indexed_2013.head()

,,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay,Occupied?
Tenant_Code,Property_Code,,,,,,,,,
t0013945,ce,Move Out,2013-04-18,S1452B,2011-08-04,2013-04-17,555.0,0.0,622 days,V
t0014232,ce,Rent Change,2013-04-19,S1454A,2013-05-24,NaT,560.0,0.0,NaT,O
t0014238,ce,Move In,2013-04-19,S1452K,2013-04-12,NaT,580.0,0.0,NaT,O
t0014235,ce,Move In,2013-04-22,C0011D,2013-04-13,NaT,630.0,0.0,NaT,O
t0013870,ce,Move Out,2013-04-23,C5303K,2012-08-18,2013-04-21,570.0,0.0,246 days,V