In [150]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [151]:
tenants = "Tenant_History.csv"
tenants_df = pd.read_csv(tenants)
tenants_df.head()

,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
0,sh,NaN,11/18/2016,t0031357,NaN,Deposit Change,11/22/2016,WC5956H,NaN,11/16/2016,...,NaN,0,0,2,641.0,99.0,0.0,NaN,NaN,0.0
1,ce,NaN,11/22/2016,t0031261,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/3/2016,...,NaN,0,0,0,728.0,708.0,0.0,NaN,NaN,0.0
2,ce,NaN,11/18/2016,t0031367,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/17/2016,...,NaN,0,0,9,728.0,50.0,0.0,NaN,NaN,0.0
3,ce,NaN,11/18/2016,t0031350,NaN,Deposit Change,11/22/2016,M0012B,NaN,11/16/2016,...,NaN,0,0,9,888.0,50.0,0.0,NaN,NaN,0.0
4,sh,NaN,11/22/2016,t0031408,NaN,Submit Application,11/22/2016,WAIT-3TA,NaN,11/22/2016,...,NaN,0,0,6,735.0,0.0,0.0,NaN,NaN,0.0

In [152]:
tenants_df = tenants_df.drop(columns = ["Ref_Property_ID", "Ext_Ref_Tenant_Id", "Ref_Unit_Id", "Date"])

In [153]:
tenants_df["DateOccurred"] = pd.to_datetime(tenants_df["DateOccurred"], format= '%m/%d/%Y')
tenants_df["DateApply"] = pd.to_datetime(tenants_df["DateApply"], format= '%m/%d/%Y')
tenants_df["DateApprove"] = pd.to_datetime(tenants_df["DateApprove"], format= '%m/%d/%Y')
tenants_df["DateSign"] = pd.to_datetime(tenants_df["DateSign"], format= '%m/%d/%Y')
tenants_df["DateMoveIn"] = pd.to_datetime(tenants_df["DateMoveIn"], format= '%m/%d/%Y')
tenants_df["DateMoveOut"] = pd.to_datetime(tenants_df["DateMoveOut"], format= '%m/%d/%Y')
tenants_df["DateLeaseFrom"] = pd.to_datetime(tenants_df["DateLeaseFrom"], format= '%m/%d/%Y')
tenants_df["DateLeaseTo"] = pd.to_datetime(tenants_df["DateLeaseTo"], format= '%m/%d/%Y')
tenants_df["DateNotice"] = pd.to_datetime(tenants_df["DateNotice"], format= '%m/%d/%Y')
tenants_df["Length of Stay"]= tenants_df["DateMoveOut"] - tenants_df["DateMoveIn"]
tenants_df.sort_values(by=["Unit_Code"])

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,DateMoveOut,...,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Length of Stay
45093,fh,t0033675,Deposit Change,2017-08-01,1014A,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,850.0,300.0,0.0,NaN,NaN,0.0,NaT
86676,fh,t0033675,Lease Renewal,2018-04-25,1014A,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,950.0,150.0,0.0,NaN,NaN,0.0,NaT
75401,fh,t0033675,Email,2018-10-08,1014A,NaT,NaT,NaT,2017-06-30,NaT,...,0,0,0,0.0,0.0,0.0,NaN,NaN,0.0,NaT
2893,fh,t0033675,Rent Change,2018-06-30,1014A,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,950.0,150.0,0.0,NaN,NaN,0.0,NaT
45951,fh,t0033675,Deposit Change,2017-08-01,1014A,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,850.0,150.0,0.0,NaN,NaN,0.0,NaT
44739,fh,t0033675,Deposit Change,2017-08-01,1014A,NaT,NaT,2017-06-22,2017-06-30,NaT,...,0,0,0,850.0,150.0,0.0,NaN,NaN,0.0,NaT
59048,fh,t0034067,Deposit Change,2017-08-29,1014B,2017-08-31,NaT,NaT,2018-01-01,NaT,...,0,0,2,850.0,99.0,0.0,NaN,NaN,0.0,NaT
44740,fh,t0033676,Deposit Change,2017-08-01,1014B,NaT,NaT,2016-09-09,2016-09-09,NaT,...,0,0,0,875.0,300.0,0.0,NaN,NaN,0.0,NaT
50495,fh,t0034067,Deposit Accounting,2017-09-14,1014B,2017-08-31,NaT,NaT,NaT,NaT,...,0,0,7,850.0,0.0,0.0,Deposit Accounting,NaN,0.0,NaT
72765,fh,t0040600,Rent Change,2018-08-22,1014B,2018-08-22,NaT,NaT,2018-08-31,NaT,...,0,0,6,984.0,0.0,0.0,NaN,NaN,0.0,NaT
60459,fh,t0033676,Move Out,2018-06-30,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,2018-06-30,...,0,0,1,900.0,300.0,0.0,Move Out,NaN,0.0,659 days
72766,fh,t0040600,Assign Unit (From 1030CB to 1014B),2018-08-22,1014B,2018-08-22,NaT,NaT,2018-08-31,NaT,...,0,0,6,984.0,0.0,0.0,NaN,NaN,0.0,NaT
54617,fh,t0034067,Adjust Move In Dates,2017-08-20,1014B,2017-08-31,NaT,NaT,2018-01-01,NaT,...,0,0,2,850.0,0.0,0.0,NaN,NaN,0.0,NaT
50494,fh,t0034067,Deposit Change,2017-09-14,1014B,2017-08-31,NaT,NaT,NaT,NaT,...,0,0,7,850.0,0.0,0.0,NaN,NaN,0.0,NaT
46875,fh,t0033676,Rent Change,2018-01-31,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,NaT,...,0,0,0,900.0,300.0,0.0,NaN,NaN,0.0,NaT
67308,fh,t0033676,Lease Renewal,2017-11-07,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,NaT,...,0,0,0,900.0,300.0,0.0,NaN,NaN,0.0,NaT
2515,fh,t0040392,Adjust Move In Dates,2018-08-02,1014B,2018-07-26,2018-08-02,2018-08-02,2018-08-11,NaT,...,0,0,2,984.0,99.0,0.0,NaN,NaN,0.0,NaT
2514,fh,t0040392,Assign Unit (From 1120A to 1014B),2018-08-02,1014B,2018-07-26,2018-08-02,2018-08-02,2018-08-08,NaT,...,0,0,2,984.0,99.0,0.0,NaN,NaN,0.0,NaT
2513,fh,t0040392,Rent Change,2018-08-02,1014B,2018-07-26,2018-08-02,2018-08-02,2018-08-08,NaT,...,0,0,2,984.0,99.0,0.0,NaN,NaN,0.0,NaT
67774,fh,t0033676,Rent Change,2017-12-31,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,NaT,...,0,0,0,888.0,300.0,0.0,NaN,NaN,0.0,NaT
73042,fh,t0040600,Application Canceled,2018-08-24,1014B,2018-08-22,NaT,NaT,NaT,NaT,...,0,0,7,984.0,0.0,0.0,NaN,Changed Mind,0.0,NaT
59577,fh,t0041459,Submit Application,2019-01-04,1014B,2019-01-04,NaT,NaT,2019-01-15,NaT,...,0,0,6,975.0,0.0,0.0,NaN,NaN,0.0,NaT
73664,fh,t0040600,Deposit Accounting,2018-08-28,1014B,2018-08-22,NaT,NaT,NaT,NaT,...,0,0,7,984.0,0.0,0.0,Deposit Accounting,NaN,0.0,NaT
73662,fh,t0040600,Deposit Change,2018-08-28,1014B,2018-08-22,NaT,NaT,NaT,NaT,...,0,0,7,984.0,99.0,0.0,NaN,NaN,0.0,NaT
73663,fh,t0040600,Deposit Change,2018-08-28,1014B,2018-08-22,NaT,NaT,NaT,NaT,...,0,0,7,984.0,0.0,0.0,NaN,NaN,0.0,NaT
50493,fh,t0034067,Deposit Change,2017-09-14,1014B,2017-08-31,NaT,NaT,NaT,NaT,...,0,0,7,850.0,150.0,0.0,NaN,NaN,0.0,NaT
44420,fh,t0033676,Notice Given,2018-04-25,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,2018-06-30,...,0,0,4,900.0,300.0,0.0,Transfer within Community,Transfer within Community,0.0,659 days
54454,fh,t0034067,Assign Unit (From WAIT1BR1 to 1014B),2017-08-17,1014B,2017-08-31,NaT,NaT,2017-08-31,NaT,...,0,0,2,850.0,0.0,0.0,NaN,NaN,0.0,NaT
87964,fh,t0041459,Application Approved,2019-01-07,1014B,2019-01-04,2019-01-07,NaT,2019-01-15,NaT,...,-1,0,6,975.0,0.0,0.0,NaN,Apartment List,0.0,NaT
81770,fh,t0041103,Submit Application,2018-10-29,1014B,2018-10-29,NaT,NaT,2019-01-03,NaT,...,0,0,6,984.0,0.0,0.0,NaN,NaN,0.0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88267,ce,t0040164,NaN,NaT,NaN,NaT,NaT,NaT,2018-08-01,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 161992 has Closed.,NaN,0.0,NaT
88268,ce,t0040164,NaN,NaT,NaN,NaT,NaT,NaT,2018-08-01,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 161992 has Closed.,NaN,0.0,NaT
88279,sh,t0040675,NaN,NaT,NaN,NaT,NaT,NaT,2018-09-24,2019-01-09,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,107 days
88280,sh,t0040675,NaN,NaT,NaN,NaT,NaT,NaT,2018-09-24,2019-01-09,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,107 days
88284,sh,t0040675,NaN,NaT,NaN,NaT,NaT,NaT,2018-09-24,2019-01-09,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,107 days
88285,sh,t0040675,NaN,NaT,NaN,NaT,NaT,NaT,2018-09-24,2019-01-09,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,107 days
88301,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88302,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88303,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88304,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88305,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88306,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88307,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88308,fh,t0041482,NaN,NaT,NaN,NaT,NaT,NaT,2019-01-13,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88309,sh,t0041441,NaN,NaT,NaN,NaT,NaT,NaT,2018-12-30,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 162257 has Closed.,NaN,0.0,NaT
88310,sh,t0041441,NaN,NaT,NaN,NaT,NaT,NaT,2018-12-30,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 162257 has Closed.,NaN,0.0,NaT
88317,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88318,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88319,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88320,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88321,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Move In,NaN,0.0,NaT
88322,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88323,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88324,mpg,t0041409,NaN,NaT,NaN,NaT,NaT,NaT,2019-03-10,NaT,...,0,0,0,0.0,0.0,0.0,Followup Lease Expire,NaN,0.0,NaT
88329,ce,t0041258,NaN,NaT,NaN,NaT,NaT,NaT,2018-11-24,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 162278 has Closed.,NaN,0.0,NaT
88330,ce,t0041258,NaN,NaT,NaN,NaT,NaT,NaT,2018-11-24,NaT,...,0,0,0,0.0,0.0,0.0,Service Request 162278 has Closed.,NaN,0.0,NaT
88334,mpg,t0034325,NaN,NaT,NaN,NaT,NaT,NaT,2017-04-01,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,729 days
88335,mpg,t0034325,NaN,NaT,NaN,NaT,NaT,NaT,2017-04-01,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,729 days
88339,sh,t0030792,NaN,NaT,NaN,NaT,NaT,NaT,2016-09-30,2019-02-28,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,881 days
88340,sh,t0030792,NaN,NaT,NaN,NaT,NaT,NaT,2016-09-30,2019-02-28,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,881 days

In [154]:
rent_change = tenants_df.loc[tenants_df["Event"] == "Rent Change"]
rent_change["Days to Move"] = rent_change["DateMoveOut"] - rent_change["DateOccurred"]
rent_change.sort_values(by=["Unit_Code"])

C:\Users\Jung\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,DateMoveOut,...,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Length of Stay,Days to Move
2893,fh,t0033675,Rent Change,2018-06-30,1014A,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,950.0,150.0,0.0,NaN,NaN,0.0,NaT,NaT
67774,fh,t0033676,Rent Change,2017-12-31,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,NaT,...,0,0,888.0,300.0,0.0,NaN,NaN,0.0,NaT,NaT
46875,fh,t0033676,Rent Change,2018-01-31,1014B,2016-09-09,NaT,2016-09-09,2016-09-09,NaT,...,0,0,900.0,300.0,0.0,NaN,NaN,0.0,NaT,NaT
72765,fh,t0040600,Rent Change,2018-08-22,1014B,2018-08-22,NaT,NaT,2018-08-31,NaT,...,0,6,984.0,0.0,0.0,NaN,NaN,0.0,NaT,NaT
2513,fh,t0040392,Rent Change,2018-08-02,1014B,2018-07-26,2018-08-02,2018-08-02,2018-08-08,NaT,...,0,2,984.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
60558,fh,t0039558,Rent Change,2018-05-10,1014C,2018-04-13,2018-05-02,NaT,2018-06-01,NaT,...,0,6,1060.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
60556,fh,t0039558,Rent Change,2018-05-10,1014C,2018-04-13,2018-05-02,NaT,2018-06-01,NaT,...,0,6,1210.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
75118,fh,t0039930,Rent Change,2018-09-10,1014D,2018-09-02,NaT,2018-09-02,2018-09-02,NaT,...,0,2,984.0,0.0,0.0,NaN,NaN,0.0,NaT,NaT
37073,fh,t0043661,Rent Change,2018-07-31,1014D,2018-07-31,NaT,NaT,2018-09-15,NaT,...,0,6,1210.0,0.0,0.0,NaN,NaN,NaN,NaT,NaT
85287,fh,t0041425,Rent Change,2018-12-26,1014D,2018-12-26,NaT,NaT,2018-12-31,NaT,...,0,6,1050.0,0.0,0.0,NaN,NaN,0.0,NaT,NaT
53407,fh,t0034730,Rent Change,2017-08-28,1014D,2017-08-26,2017-08-27,2017-08-27,2017-08-30,NaT,...,0,2,950.0,0.0,0.0,NaN,NaN,0.0,NaT,NaT
519,fh,t0034730,Rent Change,2017-09-30,1014D,2017-08-26,2017-08-27,2017-08-27,2017-08-30,NaT,...,0,0,899.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
520,fh,t0036259,Rent Change,2017-09-30,1018A,2017-09-05,2017-09-09,2017-09-10,2017-09-10,NaT,...,0,0,950.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
79011,fh,t0036259,Rent Change,2018-09-30,1018A,2017-09-05,2017-09-09,2017-09-10,2017-09-10,NaT,...,0,0,999.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
46509,fh,t0034102,Rent Change,2017-08-04,1018A,2017-06-29,NaT,2017-06-29,2017-08-31,NaT,...,0,2,875.0,150.0,0.0,NaN,NaN,0.0,NaT,NaT
74488,fh,t0036259,Rent Change,2018-08-31,1018A,2017-09-05,2017-09-09,2017-09-10,2017-09-10,NaT,...,0,0,983.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
46507,fh,t0034102,Rent Change,2017-08-04,1018B,2017-06-29,NaT,2017-06-29,2017-08-31,NaT,...,0,2,975.0,150.0,0.0,NaN,NaN,0.0,NaT,NaT
2894,fh,t0033678,Rent Change,2018-06-30,1018B,2017-06-22,NaT,2017-06-22,2017-06-30,NaT,...,0,0,950.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
43438,fh,t0039548,Rent Change,2018-04-30,1018D,2018-04-11,2018-04-11,2018-04-20,2018-04-20,NaT,...,0,0,1135.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
60752,fh,t0039548,Rent Change,2018-04-13,1018D,2018-04-11,2018-04-11,NaT,2018-04-20,NaT,...,0,6,1210.0,0.0,0.0,NaN,NaN,0.0,NaT,NaT
72080,fh,t0040547,Rent Change,2018-08-15,1020B,2018-08-14,2018-08-14,2018-08-14,2018-08-14,NaT,...,0,2,1248.0,0.0,0.0,NaN,NaN,0.0,NaT,NaT
74489,fh,t0033989,Rent Change,2018-08-31,1020C,2017-06-01,NaT,2017-06-01,2017-08-05,NaT,...,0,0,1050.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
48801,fh,t0033990,Rent Change,2018-07-31,1020D,2017-06-26,NaT,2017-06-26,2017-08-12,NaT,...,0,0,982.0,150.0,0.0,NaN,NaN,0.0,NaT,NaT
74490,fh,t0033990,Rent Change,2018-08-31,1020D,2017-06-26,NaT,2017-06-26,2017-08-12,NaT,...,0,0,1030.0,150.0,0.0,NaN,NaN,0.0,NaT,NaT
81914,fh,t0041109,Rent Change,2018-10-30,1021A,2018-10-29,NaT,NaT,2018-10-31,NaT,...,0,6,1135.0,0.0,0.0,NaN,NaN,0.0,NaT,NaT
2895,fh,t0033683,Rent Change,2018-06-30,1021B,2017-06-06,NaT,2017-06-06,2017-06-30,NaT,...,0,0,950.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
51626,fh,t0039869,Rent Change,2018-06-01,1021C,2018-05-23,2018-05-24,2018-06-01,2018-06-01,NaT,...,0,2,1210.0,198.0,0.0,NaN,NaN,0.0,NaT,NaT
87004,fh,t0039944,Rent Change,2018-05-31,1021C,2018-05-31,2018-05-31,NaT,2018-06-04,NaT,...,0,6,1210.0,0.0,0.0,NaN,NaN,0.0,NaT,NaT
62539,fh,t0043752,Rent Change,2018-08-01,1021D,2018-08-01,NaT,NaT,2018-08-18,NaT,...,0,6,1210.0,0.0,0.0,NaN,NaN,NaN,NaT,NaT
48218,fh,t0040397,Rent Change,2018-04-06,1021D,2018-04-04,NaT,NaT,2018-04-06,NaT,...,0,6,1135.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11777,sh,t0017722,Rent Change,2015-09-30,WC5970G,2013-10-01,NaT,2013-10-01,2008-09-08,NaT,...,0,0,638.0,249.0,0.0,NaN,NaN,0.0,NaT,NaT
79801,sh,t0043967,Rent Change,2018-10-04,WC5970G,2018-08-03,2018-08-03,NaT,2018-10-31,NaT,...,0,6,675.0,40.0,0.0,NaN,NaN,NaN,NaT,NaT
57197,sh,t0017722,Rent Change,2017-09-30,WC5970G,2013-10-01,NaT,2013-10-01,2008-09-08,NaT,...,0,0,673.0,249.0,0.0,NaN,NaN,0.0,NaT,NaT
459,sh,t0040974,Rent Change,2018-10-16,WC5970G,2018-10-15,2018-10-16,NaT,2018-10-17,NaT,...,0,6,675.0,0.0,0.0,NaN,NaN,0.0,NaT,NaT
27183,sh,t0017722,Rent Change,2016-09-30,WC5970G,2013-10-01,NaT,2013-10-01,2008-09-08,NaT,...,0,0,648.0,249.0,0.0,NaN,NaN,0.0,NaT,NaT
61328,sh,t0024706,Rent Change,2017-02-28,WC5970H,2015-02-21,2015-02-21,2015-02-27,2015-02-28,NaT,...,0,0,623.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
53060,sh,t0024706,Rent Change,2017-03-31,WC5970H,2015-02-21,2015-02-21,2015-02-27,2015-02-28,NaT,...,0,0,645.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
16265,sh,t0024706,Rent Change,2016-02-29,WC5970H,2015-02-21,2015-02-21,2015-02-27,2015-02-28,NaT,...,0,0,603.0,99.0,0.0,NaN,NaN,NaN,NaT,NaT
10166,sh,t0017723,Rent Change,2014-01-31,WC5970H,2013-01-30,NaT,2013-01-30,2013-01-30,NaT,...,0,0,550.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
17024,sh,t0024706,Rent Change,2016-03-31,WC5970H,2015-02-21,2015-02-21,2015-02-27,2015-02-28,NaT,...,0,0,620.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
49516,sh,t0039163,Rent Change,2018-03-03,WC5970H,2018-03-02,NaT,NaT,2018-05-31,NaT,...,0,6,675.0,0.0,0.0,NaN,NaN,0.0,NaT,NaT
50488,sh,t0034612,Rent Change,2017-09-14,WC5970I,2017-08-09,2017-08-09,2017-09-11,2017-09-30,NaT,...,0,2,609.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
1003,sh,t0040188,Rent Change,2018-08-03,WC5970I,2018-06-24,2018-06-25,2018-07-27,2018-08-10,NaT,...,0,2,675.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
8714,sh,t0022199,Rent Change,2015-07-31,WC5970I,2014-07-10,2014-07-10,2014-07-22,2014-07-22,NaT,...,0,0,605.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
23841,sh,t0025813,Rent Change,2016-07-31,WC5970J,2015-07-30,2015-07-30,2015-08-06,2015-08-07,NaT,...,0,0,839.0,99.0,0.0,NaN,NaN,-1.0,NaT,NaT
25885,sh,t0025813,Rent Change,2016-08-23,WC5970J,2015-07-30,2015-07-30,2015-08-06,2015-08-07,2016-08-31,...,0,4,607.0,99.0,0.0,NaN,NaN,-1.0,390 days,8 days
78970,sh,t0030854,Rent Change,2018-09-30,WC5970J,2016-09-13,2016-09-15,2016-09-27,2016-09-30,NaT,...,0,0,675.0,198.0,0.0,NaN,NaN,0.0,NaT,NaT
63794,sh,t0030854,Rent Change,2017-08-31,WC5970J,2016-09-13,2016-09-15,2016-09-27,2016-09-30,NaT,...,0,0,610.0,198.0,0.0,NaN,NaN,0.0,NaT,NaT
57198,sh,t0030854,Rent Change,2017-09-30,WC5970J,2016-09-13,2016-09-15,2016-09-27,2016-09-30,NaT,...,0,0,634.0,198.0,0.0,NaN,NaN,0.0,NaT,NaT
17807,sh,t0017726,Rent Change,2014-04-30,WC5970K,2012-05-01,NaT,2012-05-01,2012-05-01,NaT,...,0,0,539.0,79.0,0.0,NaN,NaN,0.0,NaT,NaT
51535,sh,t0032570,Rent Change,2018-05-31,WC5970K,2017-03-15,2017-03-17,2017-04-07,2017-05-12,NaT,...,0,0,632.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
2820,sh,t0032570,Rent Change,2018-06-30,WC5970K,2017-03-15,2017-03-17,2017-04-07,2017-05-12,NaT,...,0,0,645.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
18447,sh,t0028499,Rent Change,2016-04-20,WC5970K,2016-02-17,NaT,NaT,2016-04-29,NaT,...,0,9,597.0,0.0,0.0,NaN,NaN,0.0,NaT,NaT
58300,sh,t0032570,Rent Change,2017-04-12,WC5970K,2017-03-15,2017-03-17,2017-04-07,2017-05-26,NaT,...,0,2,609.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
6146,sh,t0017726,Rent Change,2015-04-30,WC5970K,2012-05-01,NaT,2012-05-01,2012-05-01,NaT,...,0,0,564.0,79.0,0.0,NaN,NaN,0.0,NaT,NaT
52784,sh,t0031084,Rent Change,2016-12-31,WC5970L,2016-10-13,2016-10-14,2016-10-18,2016-10-31,NaT,...,0,0,609.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
65337,sh,t0031084,Rent Change,2017-10-31,WC5970L,2016-10-13,2016-10-14,2016-10-18,2016-10-31,NaT,...,0,0,634.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
18806,sh,t0024976,Rent Change,2016-05-01,WC5970L,2015-04-04,2015-04-06,2015-04-07,2015-04-20,NaT,...,0,0,777.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
45431,sh,t0031084,Rent Change,2016-10-18,WC5970L,2016-10-13,2016-10-14,NaT,2016-10-31,NaT,...,0,6,609.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT
17025,sh,t0024976,Rent Change,2016-03-31,WC5970L,2015-04-04,2015-04-06,2015-04-07,2015-04-20,NaT,...,0,0,621.0,99.0,0.0,NaN,NaN,0.0,NaT,NaT

In [155]:
sh = tenants_df.loc[tenants_df["Property_Code"] == "sh"]
sh_rent = sh.loc[sh["Event"] == "Rent Change"]
sh_rent.head()

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,DateMoveOut,...,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Length of Stay
76,sh,t0031330,Rent Change,2016-11-28,TT1211,2016-11-14,2016-11-18,2016-11-19,2016-11-28,NaT,...,0,0,2,995.0,22.5,0.0,NaN,NaN,0.0,NaT
459,sh,t0040974,Rent Change,2018-10-16,WC5970G,2018-10-15,2018-10-16,NaT,2018-10-17,NaT,...,0,0,6,675.0,0.0,0.0,NaN,NaN,0.0,NaT
881,sh,t0040449,Rent Change,2018-08-03,WAIT-3TA,2018-08-02,NaT,NaT,2018-09-01,NaT,...,0,0,6,735.0,0.0,0.0,NaN,NaN,0.0,NaT
908,sh,t0040386,Rent Change,2018-08-03,WAIT-2TH,2018-07-26,2018-07-27,NaT,2018-08-24,NaT,...,0,0,6,709.0,0.0,0.0,NaN,NaN,0.0,NaT
921,sh,t0043967,Rent Change,2018-08-03,FT5906D,2018-08-03,NaT,NaT,2018-09-17,NaT,...,0,0,6,650.0,0.0,0.0,NaN,NaN,NaN,NaT

In [156]:
moveout = tenants_df.dropna(subset = ["DateMoveOut"])
moveout.sort_values(["DateMoveOut", "Unit_Code"])

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,DateMoveOut,...,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Length of Stay
30472,ce,t0013945,Notice Given,2013-04-18,S1452B,2011-09-01,NaT,2011-09-01,2011-08-04,2013-04-17,...,0,0,4,555.0,555.0,0.0,Eviction,NaN,-1.0,622 days
30473,ce,t0013945,Move Out,2013-04-18,S1452B,2011-09-01,NaT,2011-09-01,2011-08-04,2013-04-17,...,0,0,1,555.0,555.0,0.0,Move Out,NaN,-1.0,622 days
30540,ce,t0013945,Deposit Change,2013-04-25,S1452B,2011-09-01,NaT,2011-09-01,2011-08-04,2013-04-17,...,0,0,1,555.0,0.0,0.0,NaN,NaN,-1.0,622 days
30541,ce,t0013945,Deposit Accounting,2013-04-25,S1452B,2011-09-01,NaT,2011-09-01,2011-08-04,2013-04-17,...,0,0,1,555.0,0.0,0.0,NaN,NaN,-1.0,622 days
30543,ce,t0013945,Adjust Deposit Accounting,2013-04-25,S1452B,2011-09-01,NaT,2011-09-01,2011-08-04,2013-04-17,...,0,0,1,555.0,0.0,0.0,NaN,NaN,-1.0,622 days
31684,ce,t0013945,Adjust Deposit Accounting,2013-06-17,S1452B,2011-09-01,NaT,2011-09-01,2011-08-04,2013-04-17,...,0,0,1,555.0,0.0,0.0,NaN,NaN,-1.0,622 days
30476,ce,t0014116,Notice Given,2013-04-18,M0009A,2012-10-01,NaT,2012-10-01,2012-09-21,2013-04-20,...,0,0,4,535.0,170.0,0.0,Lost Job,NaN,0.0,211 days
30398,ce,t0013870,Notice Given,2013-04-17,C5303K,2012-08-18,NaT,2012-08-18,2012-08-18,2013-04-21,...,0,0,4,570.0,150.0,0.0,Pre Acquisition Notice,NaN,0.0,246 days
30523,ce,t0013870,Move Out,2013-04-23,C5303K,2012-08-18,NaT,2012-08-18,2012-08-18,2013-04-21,...,0,0,1,570.0,150.0,0.0,Move Out,NaN,0.0,246 days
30535,ce,t0013870,Deposit Change,2013-04-25,C5303K,2012-08-18,NaT,2012-08-18,2012-08-18,2013-04-21,...,0,0,1,570.0,0.0,0.0,NaN,NaN,0.0,246 days
30536,ce,t0013870,Deposit Accounting,2013-04-25,C5303K,2012-08-18,NaT,2012-08-18,2012-08-18,2013-04-21,...,0,0,1,570.0,0.0,0.0,NaN,NaN,0.0,246 days
30545,ce,t0013870,Adjust Deposit Accounting,2013-04-25,C5303K,2012-08-18,NaT,2012-08-18,2012-08-18,2013-04-21,...,0,0,1,570.0,0.0,0.0,NaN,NaN,0.0,246 days
30872,ce,t0013870,Adjust Deposit Accounting,2013-04-29,C5303K,2012-08-18,NaT,2012-08-18,2012-08-18,2013-04-21,...,0,0,1,570.0,0.0,0.0,NaN,NaN,0.0,246 days
30519,ce,t0013970,Skip,2013-04-23,S1456D,2011-12-10,NaT,2011-12-10,2011-12-10,2013-04-23,...,0,0,4,560.0,150.0,0.0,Eviction,NaN,-1.0,500 days
30522,ce,t0013970,Move Out,2013-04-23,S1456D,2011-12-10,NaT,2011-12-10,2011-12-10,2013-04-23,...,0,0,1,560.0,150.0,0.0,Move Out,NaN,-1.0,500 days
30537,ce,t0013970,Deposit Change,2013-04-25,S1456D,2011-12-10,NaT,2011-12-10,2011-12-10,2013-04-23,...,0,0,1,560.0,0.0,0.0,NaN,NaN,-1.0,500 days
30538,ce,t0013970,Deposit Accounting,2013-04-25,S1456D,2011-12-10,NaT,2011-12-10,2011-12-10,2013-04-23,...,0,0,1,560.0,0.0,0.0,NaN,NaN,-1.0,500 days
30546,ce,t0013970,Adjust Deposit Accounting,2013-04-25,S1456D,2011-12-10,NaT,2011-12-10,2011-12-10,2013-04-23,...,0,0,1,560.0,0.0,0.0,NaN,NaN,-1.0,500 days
30871,ce,t0013970,Adjust Deposit Accounting,2013-04-29,S1456D,2011-12-10,NaT,2011-12-10,2011-12-10,2013-04-23,...,0,0,1,560.0,0.0,0.0,NaN,NaN,-1.0,500 days
30524,ce,t0014116,Adjust Moveout Dates,2013-04-23,M0009A,2012-10-01,NaT,2012-10-01,2012-09-21,2013-04-26,...,0,0,4,535.0,170.0,0.0,Lost Job,NaN,0.0,217 days
30409,ce,t0013960,Notice Given,2013-04-17,S1454F,2012-08-01,NaT,2012-08-01,2011-07-16,2013-04-26,...,0,0,4,570.0,150.0,0.0,Pre Acquisition Notice,NaN,0.0,650 days
30399,ce,t0013746,Notice Given,2013-04-17,C05268,2012-11-01,NaT,2012-11-01,2009-10-25,2013-04-30,...,0,0,4,860.0,850.0,0.0,Pre Acquisition Notice,NaN,0.0,1283 days
30875,ce,t0013746,Move Out,2013-04-30,C05268,2012-11-01,NaT,2012-11-01,2009-10-25,2013-04-30,...,0,0,1,860.0,850.0,0.0,Move Out,NaN,0.0,1283 days
31282,ce,t0013746,Deposit Change,2013-05-08,C05268,2012-11-01,NaT,2012-11-01,2009-10-25,2013-04-30,...,0,0,1,860.0,0.0,0.0,NaN,NaN,0.0,1283 days
31283,ce,t0013746,Deposit Accounting,2013-05-08,C05268,2012-11-01,NaT,2012-11-01,2009-10-25,2013-04-30,...,0,0,1,860.0,0.0,0.0,NaN,NaN,0.0,1283 days
30400,ce,t0013823,Notice Given,2013-04-17,C5254K,2012-05-01,NaT,2012-05-01,2012-04-15,2013-04-30,...,0,0,4,660.0,150.0,0.0,Pre Acquisition Notice,NaN,0.0,380 days
31237,ce,t0013823,Adjust Moveout Dates,2013-05-01,C5254K,2012-05-01,NaT,2012-05-01,2012-04-15,2013-04-30,...,0,0,4,660.0,150.0,0.0,Pre Acquisition Notice,NaN,0.0,380 days
31266,ce,t0013823,Move Out,2013-05-06,C5254K,2012-05-01,NaT,2012-05-01,2012-04-15,2013-04-30,...,0,0,1,660.0,150.0,0.0,Move Out,NaN,0.0,380 days
31294,ce,t0013823,Deposit Change,2013-05-08,C5254K,2012-05-01,NaT,2012-05-01,2012-04-15,2013-04-30,...,0,0,1,660.0,0.0,0.0,NaN,NaN,0.0,380 days
31295,ce,t0013823,Deposit Accounting,2013-05-08,C5254K,2012-05-01,NaT,2012-05-01,2012-04-15,2013-04-30,...,0,0,1,660.0,0.0,0.0,NaN,NaN,0.0,380 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46298,sh,t0026858,Adjust Moveout Dates,2018-11-30,FT5781,2015-10-30,2015-10-30,2015-10-31,2015-10-31,2019-03-31,...,0,0,4,1029.0,399.0,0.0,Cannot Afford Apartment,NaN,0.0,1247 days
87470,ce,t0014192,Notice Given,2018-12-22,M0026F,2013-04-01,NaT,2013-04-01,2012-03-10,2019-03-31,...,0,0,4,778.0,655.0,0.0,Move-In With Family,Move-In With Family,0.0,2577 days
85999,sh,t0017712,Notice Given,2018-12-31,WC5933X,2013-03-29,NaT,2013-03-29,2013-03-29,2019-03-31,...,0,0,4,675.0,99.0,0.0,Purchased Home,Purchased Home,0.0,2193 days
88083,sh,t0032676,Notice Given,2019-01-08,WC5950A,2017-03-30,2017-03-31,2017-03-31,2017-03-31,2019-03-31,...,0,0,4,685.0,99.0,0.0,Neighborhood,Neighborhood,0.0,730 days
46299,sh,t0026858,NaN,NaT,NaN,NaT,NaT,NaT,2015-10-31,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,1247 days
46300,sh,t0026858,NaN,NaT,NaN,NaT,NaT,NaT,2015-10-31,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,1247 days
79360,sh,t0026858,NaN,NaT,NaN,NaT,NaT,NaT,2015-10-31,2019-03-31,...,0,0,0,0.0,0.0,0.0,Service Request 160767 has Closed. busy signal,NaN,0.0,1247 days
79522,sh,t0026858,NaN,NaT,NaN,NaT,NaT,NaT,2015-10-31,2019-03-31,...,0,0,0,0.0,0.0,0.0,Service Request 160767 has Closed. busy signal,NaN,0.0,1247 days
86000,sh,t0017712,NaN,NaT,NaN,NaT,NaT,NaT,2013-03-29,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,2193 days
86001,sh,t0017712,NaN,NaT,NaN,NaT,NaT,NaT,2013-03-29,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,2193 days
86081,ce,t0027648,NaN,NaT,NaN,NaT,NaT,NaT,2016-01-01,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,1185 days
86082,ce,t0027648,NaN,NaT,NaN,NaT,NaT,NaT,2016-01-01,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,1185 days
87471,ce,t0014192,NaN,NaT,NaN,NaT,NaT,NaT,2012-03-10,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,2577 days
87472,ce,t0014192,NaN,NaT,NaN,NaT,NaT,NaT,2012-03-10,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,2577 days
88081,sh,t0039092,NaN,NaT,NaN,NaT,NaT,NaT,2018-03-23,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,373 days
88082,sh,t0039092,NaN,NaT,NaN,NaT,NaT,NaT,2018-03-23,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,373 days
88084,sh,t0032676,NaN,NaT,NaN,NaT,NaT,NaT,2017-03-31,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,730 days
88085,sh,t0032676,NaN,NaT,NaN,NaT,NaT,NaT,2017-03-31,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,730 days
88334,mpg,t0034325,NaN,NaT,NaN,NaT,NaT,NaT,2017-04-01,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,729 days
88335,mpg,t0034325,NaN,NaT,NaN,NaT,NaT,NaT,2017-04-01,2019-03-31,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,729 days
80550,ce,t0032773,Notice Given,2018-11-16,S1500-1B,2017-04-11,2017-04-11,2017-04-11,2017-04-25,2019-04-23,...,0,0,4,839.0,99.0,0.0,Cannot Afford Apartment,Cannot Afford Apartment,0.0,728 days
80551,ce,t0032773,NaN,NaT,NaN,NaT,NaT,NaT,2017-04-25,2019-04-23,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,728 days
80552,ce,t0032773,NaN,NaT,NaN,NaT,NaT,NaT,2017-04-25,2019-04-23,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,728 days
59642,ce,t0024838,Notice Given,2019-01-05,M0036F,2015-03-14,2015-03-14,2015-03-14,2015-04-25,2019-04-24,...,0,0,4,785.0,99.0,0.0,Purchased Home,Purchased Home,0.0,1460 days
59643,ce,t0024838,NaN,NaT,NaN,NaT,NaT,NaT,2015-04-25,2019-04-24,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,1460 days
59644,ce,t0024838,NaN,NaT,NaN,NaT,NaT,NaT,2015-04-25,2019-04-24,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,1460 days
80504,mpg,t0039497,Adjust Moveout Dates,2018-11-16,2024-09B,2018-04-04,2018-04-05,2018-04-05,2018-05-15,2019-11-17,...,0,0,3,1175.0,99.0,0.0,Eviction,NaN,0.0,551 days
80505,mpg,t0039497,NaN,NaT,NaN,NaT,NaT,NaT,2018-05-15,2019-11-17,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,551 days
80506,mpg,t0039497,NaN,NaT,NaN,NaT,NaT,NaT,2018-05-15,2019-11-17,...,0,0,0,0.0,0.0,0.0,Followup Move Out,NaN,0.0,551 days
26601,sh,t0025916,Adjust Moveout Dates,2016-09-12,SH5915,2015-08-14,2015-08-14,2015-08-21,2015-08-21,2106-09-30,...,0,0,4,695.0,695.0,0.0,Transfer within Community,NaN,0.0,33277 days

In [157]:
moveout_event = moveout.groupby("Event").count()
moveout_event.head()

,Property_Code,Tenant_Code,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,DateMoveOut,DateLeaseFrom,...,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Length of Stay
Event,,,,,,,,,,,,,,,,,,,,,
Activity,3,3,3,2,0,0,0,3,3,3,...,3,3,3,3,3,3,3,0,3,3
Adjust Deposit Accounting,1111,1111,1111,1111,1111,595,1110,1111,1111,1111,...,1111,1111,1111,1111,1111,1111,502,0,1111,1111
Adjust Lease End Date,5,5,5,5,5,1,5,5,5,5,...,5,5,5,5,5,5,0,0,5,5
Adjust Move In Dates,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,0,0,3,3
Adjust Moveout Dates,2906,2906,2906,2906,2906,1921,2905,2906,2906,2906,...,2906,2906,2906,2906,2906,2906,2906,45,2906,2906

In [158]:
apt_types = "common units.csv"
apt_types_df = pd.read_csv(apt_types)
moveout = moveout.drop(columns = ["Reason"])
apt_types_df = apt_types_df.drop(columns = ["Bldg_Code", "Available_Date", "Floor_Code", "Country", "Ref_Property_Id", "Ext_Ref_Unit_Id", "Ref_Building_Id", "Ref_Floor_Id", "Address_2","Address_3", "Address_4", "Location"])
apt_types_df.head()

,Property_Code,Unit_Code,Rental_Type,Date_Ready,Address_1,City,State,Zip_Code,Rent,SQFT,Rent_Ready,Exclude,Unit_Type,BedRooms,Attributes_1
0,ce,C0007A,Residential,12/25/2018,7 Camelot Drive A,Fairfield,OH,45014,770,675,1,0,ce1ar,1,1.0
1,ce,C0007B,Residential,8/31/2015,7 Camelot Drive B,Fairfield,OH,45014,770,675,1,0,ce1ar,1,1.0
2,ce,C0007C,Residential,6/12/2018,7 Camelot Drive C,Fairfield,OH,45014,780,675,1,0,ce1ar,1,1.0
3,ce,C0007D,Residential,1/23/2017,7 Camelot Drive D,Fairfield,OH,45014,780,675,1,0,ce1ar,1,1.0
4,ce,C0007E,Residential,9/3/2018,7 Camelot Drive E,Fairfield,OH,45014,770,675,1,0,ce1ar,1,1.0

In [159]:
moveout = moveout.dropna(subset = ["Unit_Code"])
apt_types_df = apt_types_df.dropna(subset = ["Unit_Code"])
moveout["Unit_Code"] = moveout.Unit_Code.astype(str)
apt_types_df["Unit_Code"] = apt_types_df.Unit_Code.astype(str)

In [1]:
moveout.dtypes

NameError: name 'moveout' is not defined

In [160]:
tenant_apt = pd.merge(moveout, apt_types, on = "Unit_Code")
tenant_apt.head()

ValueError: can not merge DataFrame with instance of type <class 'str'>

In [140]:
cannotafford = tenants_df.loc[tenants_df["Notes"] == "Cannot Afford Apartment"]
cannotafford_df = cannotafford.groupby("Event").count()
cannotafford_df.head(25)

,Property_Code,Tenant_Code,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,DateMoveOut,DateLeaseFrom,...,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Length of Stay
Event,,,,,,,,,,,,,,,,,,,,,
Adjust Moveout Dates,593,593,593,593,593,453,593,593,593,593,...,593,593,593,593,593,593,593,0,593,593
Early Termination,38,38,38,38,38,35,38,38,38,38,...,38,38,38,38,38,38,38,6,38,38
Eviction,152,152,152,152,151,108,152,152,152,152,...,152,152,152,152,152,152,152,46,152,152
Notice Given,680,680,680,680,680,433,680,680,680,680,...,680,680,680,680,680,680,680,142,680,680
Skip,68,68,68,68,68,37,68,68,68,68,...,68,68,68,68,68,68,68,15,68,68